{% extends 'emails/base.html' %}

{% block content %}
<p>Hi,</p>

<p>Thank you for signing up for Pjuu.</p>

<p>You will be doing social type stuff in just a moment. But before you can do that we just need you to activate your account.</p>

<p>If you can click the link below you will be able to sign in.</p>

<p><a href="{{ url_for('auth.activate', token=token, _external=True) }}" target="_blank">Activate Account</a></p>
{% endblock %}

{% block content_footer %}
<p>If you have received this e-mail but have not signed up for the Pjuu then you can simply ignore this e-mail.</p>
<p>We will not e-mail you again if you decide not to activate this account.</p>
{% endblock %}
