{% extends 'emails/base.html' %}

{% block content %}
    <p>Hi,</p>
    <p>Thank you for singing up for Pjuu.</p>
    <p>You will be doing socially stuff in just a moment. We just need you to activate your account.</p>
    <p>If you can press the link below you will be able to sign in.</p>
    <p><a href="{{ url_for('activate', token=token, _external=True) }}" target="_blank">Activate Account</a></p>
{% endblock %}

{% block content_footer %}
    <p>If you have received this e-mail but have no signed up for the Pjuu then you can ignore this e-mail.</p>
    <p>We will not e-mail you again if you decide not to activate this account.</p>
{% endblock %}
