Flask==0.12.2
Flask-And-Redis==0.7
Flask-Mail==0.9.1
Flask-PyMongo==0.5.1
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
WTForms==2.1.0
Werkzeug==0.14.1
blinker==1.4
celery==4.1.0
gevent==1.2.2
gunicorn==19.7.1
hiredis==0.2.0
itsdangerous==0.24
jsonpickle==0.9.6
redis==2.10.6
opbeat==3.6.1
Wand==0.4.4
