Flask==1.0.2
Flask-And-Redis==1.0.0
Flask-Mail==0.9.1
Flask-PyMongo==2.2.0
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.1.0
WTForms==2.2.1
Werkzeug==0.14.1
blinker==1.4
celery==4.2.1
gevent==1.4.0
gunicorn==19.9.0
hiredis==1.0.0
itsdangerous==1.1.0
jsonpickle==1.1
redis==3.2.0
sentry-sdk==0.7.3
Wand==0.5.1
