{% if config.TESTING %}
<!-- author post -->
{% endif %}
<div id="author" class="block post clearfix">
    <form action="{{ url_for('posts.post', next=request.path) }}" method="post" enctype="multipart/form-data">
        {{ post_form.body(rows=2, maxlength=post_form.body.validators[1].max, placeholder="Write a post...") }}
        {{ post_form.csrf_token }}
        <div id="count">0 / {{ post_form.body.validators[1].max }}</div>
        <div id="action">
            <label id="upload-label" for="upload">
                {{ post_form.upload(accept='image/jpeg,image/gif,image/png') }}
                <i class="fa fa-camera"></i>
            </label>
            <button type="submit"><i class="fa fa-send"></i> Post</button>
        </div>
    </form>
</div>
