{% if config.TESTING %}
<!-- author post -->
{% endif %}
<div id="author" class="block post clearfix">
    <form action="{{ url_for('posts.post', next=request.path) }}" method="post" enctype="multipart/form-data">
        {{ post_form.body(rows=2, maxlength=post_form.MAX_POST_LENGTH, placeholder="Write a post...") }}
        {{ post_form.csrf_token }}
        <div id="count">0 / {{ post_form.MAX_POST_LENGTH }}</div>
        <div id="action">
            {% set permission = current_user.get('default_permission', 0) %}
            <ul id="permission">
                <li>
                    <label>
                        <input name="permission"
                            {% if permission == 0 %}checked="true"{% endif %} value="0" type="radio" />
                        <i title="Public" class="fa fa-fw fa-globe"></i>
                    </label>
                </li>
                <li>
                    <label>
                        <input name="permission"
                            {% if permission == 1 %}checked="true"{% endif %} value="1" type="radio" />
                        <i title="Pjuu users only" class="fa fa-fw fa-shield"></i>
                    </label>
                </li>
                <li>
                    <label>
                        <input name="permission"
                            {% if permission == 2 %}checked="true"{% endif %} value="2" type="radio" />
                        <i title="Trusted users only" class="fa fa-fw fa-check"></i>
                    </label>
                </li>
            </ul>
            <label id="upload-label" for="upload" style="display: none;">
                {{ post_form.upload(accept='image/*') }}
                <i class="fa fa-picture-o"></i>
            </label>
            <button type="submit"><i class="fa fa-send"></i> Post</button>
        </div>
    </form>
</div>
