{% if config.TESTING %}
<!-- author reply -->
{% endif %}
<div id="author" class="block comment clearfix">
    <form action="{{ url_for('posts.post', username=post.username, post_id=post._id, next=request.path) }}" method="post">
        {{ post_form.body(rows=2, maxlength=post_form.body.validators[1].max, placeholder="Leave a comment...") }}
        {{ post_form.csrf_token }}
        <div id="count">0 / {{ post_form.body.validators[1].max }}</div>
        <button type="submit"><i class="fa fa-comment"></i> Comment</button>
    </form>
</div>
