{% extends 'base.html' %}
{% block layout %}
<div id="header" class="clearfix">
    <div class="container">
        <a href="{{ url_for('users.feed') }}">
            <img class="logo" src="{{ url_for('static', filename='img/logo_otter_header.png') }}">
        </a>
        <ul class="menu">
            {% if current_user %}
            <!-- menu: logged in -->
            <a href="{{ url_for('users.feed') }}"><li>
                <i class="fa fa-bars fa-fw fa-lg"></i>
                <span class="no-mobile">Feed</span>
            </li></a>
            <a href="{{ url_for('posts.global_feed') }}"><li>
                <i class="fa fa-globe fa-fw fa-lg"></i>
                <span class="no-mobile">Global Feed</span>
            </li></a>
            <a href="{{ url_for('users.profile', username=current_user.username) }}"><li>
                <i class="fa fa-user fa-lg fa-fw"></i>
                <span class="no-mobile">{{ current_user.username|capitalize }}</span>
            </li></a>
            <a href="{{ url_for('users.alerts') }}"><li>
                {% if current_user._id|new_alerts %}
                <i id="alert" class="fa fa-bell fa-fw fa-lg new-alert"></i>
                {% else %}
                <i id="alert" class="fa fa-bell-o fa-fw fa-lg"></i>
                {% endif %}
                <span class="no-mobile">Alerts</span>
            </li></a>
            <a href="{{ url_for('users.search') }}"><li>
                <i class="fa fa-search fa-fw fa-lg"></i>
                <span class="no-mobile">Search</span>
            </li></a>
            <a href="{{ url_for('users.settings_profile') }}"><li>
                <i class="fa fa-cog fa-fw fa-lg"></i>
                <span class="no-mobile">Settings</span>
            </li></a>
            <a href="{{ url_for('auth.signout') }}"><li>
                <i class="fa fa-sign-out fa-fw fa-lg"></i>
                <span class="no-mobile">Sign Out</span>
            </li></a>
            {% else %}
            <!-- menu: not logged in -->
            <a href="{{ url_for('posts.global_feed') }}"><li>
                <i class="fa fa-globe fa-fw fa-lg"></i>
                <span class="no-mobile">Global Feed</span>
            </li></a>
            <a href="{{ url_for('auth.signin') }}"><li>
                <i class="fa fa-sign-in fa-fw fa-lg"></i>
                <span class="no-mobile">Sign In</span>
            </li></a>
            <a href="{{ url_for('auth.signup') }}"><li>
                <i class="fa fa-smile-o fa-fw fa-lg"></i>
                <span class="no-mobile">Create an Account</span>
            </li></a>
            {% endif %}
        </ul>
    </div>
</div>
<div id="main">
    <div class="container">
        {% include 'messages.html' %}
        {% block main %}{% endblock %}
    </div>
</div>
{% endblock %}
