<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}Pjuu</title>
    <meta charset="UTF-8">
    <meta name="description" content="An open source social thing!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/app_icons/57x57.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/app_icons/76x76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/app_icons/120x120.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/app_icons/152x152.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='img/app_icons/167x167.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/app_icons/180x180.png') }}">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/app_icons/192x192.png') }}">
    <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='img/app_icons/128x128.png') }}">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" type="image/png">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {% block layout %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.gifplayer-0.3.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pjuu.js') }}"></script>
    {% block additional_js %}{% endblock %}
</body>
</html>
