{% extends 'base.html' %}
{% block layout %}
<div id="header" class="clearfix">
    <div class="container">
        <img class="logo" src="{{ url_for('static', filename='img/logo_white.png') }}">
        <ul class="menu">
            <a href="{{ url_for('feed') }}">
                <li>
                    <img src="{{ url_for('static', filename='img/glyphicons/feed.png') }}">
                    <span class="no-mobile">Feed</span>
                </li>
            </a>
            <a href="{{ url_for('profile', username=current_user.username) }}">
                <li>
                    <img src="{{ current_user.email|gravatar(16) }}">
                    <span class="no-mobile">{{ current_user.username|capitalize }}</span>
                </li>
            </a>
            <a href="{{ url_for('search') }}">
                <li>
                    <img src="{{ url_for('static', filename='img/glyphicons/search.png') }}">
                    <span class="no-mobile">Search</span>
                </li>
            </a>
            <a href="{{ url_for('settings_profile') }}">
                <li>
                    <img src="{{ url_for('static', filename='img/glyphicons/settings.png') }}">
                    <span class="no-mobile">Settings</span>
                </li>
            </a>
            <a href="{{ url_for('signout') }}">
                <li>
                    <img src="{{ url_for('static', filename='img/glyphicons/signout.png') }}">
                    <span class="no-mobile">Sign Out</span>
                </li>
            </a>
        </ul>
    </div>
</div>
<div id="main">
    <div class="container">
        {% include 'messages.html' %}
        {% block main %}{% endblock %}
    </div>
</div>
{% endblock %}
