<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Pjuu</title>
    <meta charset="UTF-8">
    <meta name="description" content="An open source social thing!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" type="image/png">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {% block layout %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.gifplayer-0.3.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pjuu.js') }}"></script>
    {% block additional_js %}{% endblock %}
</body>
</html>
