<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Pjuu</title>
    <meta charset="utf8"/>
    <meta name="description" content="An open source social thing!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    {% block additional_css %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    {% block additional_js %}{% endblock %}
</head>
<body>
<div id="wrapper">
    {% block layout %}{% endblock %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/author.js') }}"></script>
{% block additional_footer_js %}{% endblock %}
</body>
</html>
