{% extends 'base.html' %}
{% block layout %}
<div id="header" class="clearfix">
    <div class="container">
        <a href="{{ url_for('feed') }}">
            <img class="logo" src="{{ url_for('static', filename='img/logo_white.png') }}"/>
        </a>
        <ul class="menu">
            {% if current_user %}
            <a href="{{ url_for('feed') }}"><li>Feed</li></a>
            <a href="{{ url_for('profile', username=current_user.username) }}">
                <li>{{ current_user.username|capitalize }}</li>
            </a>
            {# <a href="{{ url_for('alerts') }}"><li>Alerts</li></a> #}
            <a href="{{ url_for('search') }}"><li>Search</li></a>
            <a href="{{ url_for('settings_profile') }}"><li>Settings</li></a>
            <a href="{{ url_for('signout') }}"><li>Sign Out</li></a>
            {% else %}
            <a href="{{ url_for('signin') }}"><li>Sign In</li></a>
            <a href="{{ url_for('signup') }}"><li>Sign Up</li></a>
            {% endif %}
        </ul>
    </div>
</div>
<div id="main">
    <div class="container">
        {% include 'messages.html' %}
        {% block main %}{% endblock %}
    </div>
</div>
{% endblock %}
