{% extends 'settings.html' %}

{% block settings %}
<h1>Delete account</h1>
<div id="setting" class="clearfix">
    <div class="details warning">
        <div class="detail">
            <p><b>This action is irreversible</b></p>
            <p>Once your account is deleted all your details, posts and comments will be removed from Pjuu.</p>
            <p>These will remain in back ups for <i>disaster recovery</i> for 7 days. We can not restore individual accounts.</p>
            <p>Once this time has expired there will be no details held on you.</p>
            <p>Your user name will also be available for use after this period.</p>
        </div>
    </div>
    <form action="" method="post" autocomplete="off">
        {{ form.password.label }}
        {{ form.password }}
        {{ form.csrf_token }}
        <button type="submit delete"><i class="fa fa-remove"></i> Delete Account</button>
    </form>
</div>
{% endblock %}