{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:comment:{{item.cid}} -->
{% endif %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} post clearfix">
    <div class="top-section">
        <img class="avatar" src="{{ item.user_email|avatar(24) }}"/>
        <div class="control">
            {# post is from the view template which calls this template! This allows users who
               own the posts to delete comments made on there post #}
            {% if item.user_username == current_user.username or post.user_username == current_user.username %}
            <a href="{{ url_for('delete_post', username=item.post_author, pid=item.pid, cid=item.cid, next=request.path) }}">
                <div class="delete">X</div>
            </a>
            {% endif %}
        </div>
        <div class="details-post clearfix">
            <div class="username">
                <a href="{{ url_for('profile', username=item.user_username) }}">
                    {{ item.user_username|capitalize }}
                </a>
                <span class="user-score">{{ item.user_score|millify }}</span>
            </div>
            <div class="body">
                {% autoescape false %}
                {{ item.body|e|urlize|nameify }}
                {% endautoescape %}
            </div>
            <div class="created">{{ item.created|timeify }} GMT</div>
        </div>
    </div>
    <div class="panel clearfix">
        <ul class="voting clearfix">
            <li class="voting-item first">
                {{ item['score']|millify }}
            </li>
            {% if item.user_username != current_user.username %}
            {% if item.pid|voted(item.cid) %}
            <li class="voting-item last">
                {% if item.pid|voted(item.cid) > 1 %}
                <img src="{{ url_for('static', filename='img/glyphicons/up_arrow.png') }}" width="16" height="16"/>
                {% else %}
                <img src="{{ url_for('static', filename='img/glyphicons/down_arrow.png') }}" width="16" height="16"/>
                {% endif %}
            </li>
            {% else %}
            <a href="{{ url_for('upvote', username=item.post_author, pid=item.pid, cid=item.cid, next=request.path + '?' + request.query_string) }}">
               <li class="voting-item link">
                    <img src="{{ url_for('static', filename='img/glyphicons/up_arrow.png') }}" width="16" height="16"/>
                </li>
            </a>
            <a href="{{ url_for('downvote', username=item.post_author, pid=item.pid, cid=item.cid, next=request.path + '?' + request.query_string) }}">
                <li class="voting-item link">
                    <img src="{{ url_for('static', filename='img/glyphicons/down_arrow.png') }}" width="16" height="16"/>
                </li>
            </a>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}