{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:comment:{{item.cid}} -->
{% endif %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} clearfix">
    <div class="top-section">
        <img class="avatar" src="{{ item.user_email|avatar(32) }}"/>
        <div class="control">
            {% if item.uid == current_user.uid or post.uid == current_user.uid %}
            <a href="{{ url_for('delete_post', username=item.user_username, pid=item.pid, cid=item.cid, next=request.path) }}" class="fa fa-remove fa-lg delete"></a>
            {% endif %}
        </div>
        <div class="content post clearfix">
            <div class="username">
                <a href="{{ url_for('profile', username=item.user_username) }}">{{ item.user_username|capitalize }}</a>
                <span class="created">{{ item.created|timeify }}</span>
            </div>
            <div class="body">
                {% autoescape false %}
                {{ item.body|e|urlize|nameify }}
                {% endautoescape %}
            </div>
            <div class="panel clearfix">
                <ul class="left">
                    <li>
                        <i class="fa fa-trophy fa-lg"></i>
                        {{ item['score']|millify }}
                    </li>
                    {% if item.uid != current_user.uid %}
                    <li>
                        {% if item.cid|voted(True) > 0 %}
                        {% if config.TESTING %}
                        <!-- action:upvoted -->
                        {% endif %}
                        <i class="fa fa-arrow-up fa-lg upvoted"></i>
                        {% elif item.cid|voted(True) < 0 %}
                        <i class="fa fa-arrow-up fa-lg inactive"></i>
                        {% else %}
                        {% if config.TESTING %}
                        <!-- action:upvote -->
                        {% endif %}
                        <a href="{{ url_for('upvote', username=item.post_author, pid=item.pid, cid=item.cid, next=request.path) }}" class="fa fa-arrow-up fa-lg link upvote"></a>
                        {% endif %}
                    </li>
                    <li>
                        {% if item.cid|voted(True) < 0 %}
                        {% if config.TESTING %}
                        <!-- action:downvoted -->
                        {% endif %}
                        <i class="fa fa-arrow-down fa-lg downvoted"></i>
                        {% elif item.cid|voted(True) > 0 %}
                        <i class="fa fa-arrow-down fa-lg inactive"></i>
                        {% else %}
                        {% if config.TESTING %}
                        <!-- action:downvote -->
                        {% endif %}
                        <a href="{{ url_for('downvote', username=item.post_author, pid=item.pid, cid=item.cid, next=request.path) }}" class="fa fa-arrow-down fa-lg link downvote"></a>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}