<ul id="list">
    {% block list %}
    {% endblock %}
</ul>

{# Pagination controls #}

{% if pagination.has_pages %}
<div id="pagination" class="clearfix">
    {% if pagination.prev_page %}
    <div class="newer">
        {% if config.TESTING %}
        <!-- pagination:newer -->
        {% endif %}
        <a href="{{ request.path + "?page=%s" % pagination.prev_page }}">
            <i class="fa fa-chevron-left"></i> Newer
        </a>
    </div>
    {% endif %}
    {% if pagination.next_page %}
    <div class="older">
        {% if config.TESTING %}
        <!-- pagination:older -->
        {% endif %}
        <a href="{{ request.path + "?page=%s" % pagination.next_page }}">
            Older <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    {% endif %}
</div>
{% endif %}