{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:user:{{item.uid}} -->
{% endif %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} user clearfix">
    <img class="avatar" src="{{ item.email|avatar(24) }}"/>
    <div class="control">
        {% if item.uid == current_user.uid %}
        <a href="{{ url_for('settings_profile') }}">
            <div onmouseover="this.innerHTML = 'Edit'" onmouseout="this.innerHTML = 'You'" class="action you">You</div>
        </a>
        {% elif item|following %}
        <a href="{{ url_for('unfollow', username=item.username, next=request.path + '?' + request.query_string) }}">
            <div onmouseover="this.innerHTML = 'Unfollow'" onmouseout="this.innerHTML = 'Following'" class="action unfollow">Following</div>
        </a>
        {% else %}
        <a href="{{ url_for('follow', username=item.username, next=request.path + '?' + request.query_string) }}">
            <div class="action follow">Follow</div>
        </a>
        {% endif %}
    </div>
    <div class="content user clearfix">
        <div class="username">
            <a href="{{ url_for('profile', username=item.username) }}">
                {{ item.username|capitalize }}
            </a>
        </div>
        <div class="body">{{ item.about|urlize|nameify }}</div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}