<ul id="list">
    {% block list %}
    {% endblock %}
</ul>

{# Pagination controls #}

{% if pagination.has_pages %}
<div id="pagination" class="clearfix">
    {% if pagination.prev_page %}
    <a href="{{ request.path + "?page=1" }}">
    <div class="button active prev">
        |<
    </div>
    </a>
    <a href="{{ request.path + "?page=%s" % pagination.prev_page }}">
    <div class="button active prev">
        <<
    </div>
    </a>
    {% endif %}
    {% if pagination.next_page %}
    <a href="{{ request.path + "?page=%s" % pagination.pages }}">
    <div class="button active next">
        >|
    </div>
    </a>
    <a href="{{ request.path + "?page=%s" % pagination.next_page }}">
    <div class="button active next">
        >>
    </div>
    </a>
    {% endif %}
</div>
{% endif %}