{% if config.TESTING %}
    <!-- list:alert:{{ item.alert_id }} -->
{% endif %}

<li class="item{% if loop_last %} last{% elif loop_first %} first{% endif %} alert clearfix">
    {% if item.user.avatar %}
    <img class="avatar size48" src="{{ url_for('posts.get_upload', filename=item.user.avatar) }}"/>
    {% else %}
    <img class="avatar size48" src="{{ url_for('static', filename='img/otter_avatar.png') }}"/>
    {% endif %}
    <div class="control">
        <a href="{{ url_for('users.delete_alert', alert_id=item.alert_id, next=request.full_path|string) }}" class="fa fa-eye-slash fa-lg hide"></a>
    </div>
    <div class="content alert clearfix">
        <div class="body">
            {% if item.new %}
                <i class="fa fa-circle new"></i>
            {% endif %}
            {{ item.prettify(current_user._id)|safe }}
        </div>
        <div class="created">{{ item.timestamp|timeify }}</div>
    </div>
</li>
