{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:reply:{{item._id}} -->
{% endif %}
<li class="item{% if loop.last %} last{% endif %} clearfix">
    <img class="avatar size48" src="{{ url_for('users.avatar', username=item.username) }}"/>
    <div class="control">
        {% if item.user_id == current_user._id or post.username == current_user.username %}
        {% if config.TESTING %}
        <!-- delete:reply:{{ item._id }} -->
        {% endif %}
        <form action="{{ url_for('posts.delete_post', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.path + '?' + request.query_string) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button title="Delete post" class="fa fa-remove fa-lg delete buttonlink"></button>
        </form>
        {% endif %}
    </div>
    <div class="content post clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=item.username) }}">{{ item.username|capitalize }}</a>
            <span class="created">{{ item.created|timeify }}</span>
        </div>
        <div class="body">
            {% autoescape false %}
            {{ item|postify }}
            {% endautoescape %}
        </div>
        {% if item.upload %}
        {% if config.TESTING %}
        <!-- upload:reply:{{ item._id }} -->
        {% endif %}
        <div class="image">
            <a href="{{ url_for('posts.get_upload', filename=item.upload) }}">
                <img src="{{ url_for('posts.get_upload', filename=item.upload) }}"/>
            </a>
        </div>
        {% endif %}
        <div class="panel clearfix">
            <ul class="left">
                <li>
                    <i class="fa fa-trophy fa-lg"></i>
                    {{ item.score|millify }}
                </li>
                {% if item.user_id != current_user._id %}
                <li>
                    {% if item._id|voted > 0 %}
                    {% if config.TESTING %}
                    <!-- upvoted:reply:{{ item._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif item._id|voted < 0 %}
                    <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- upvote:reply:{{ item._id }} -->
                    {% endif %}
                    <form action="{{ url_for('posts.upvote', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.path + '?' + request.query_string) }}" method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button title="Up vote" class="fa fa-arrow-up fa-lg link upvote buttonlink"></button>
                    </form>
                    {% endif %}
                </li>
                <li>
                    {% if item._id|voted < 0 %}
                    {% if config.TESTING %}
                    <!-- downvoted:reply:{{ item._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif item._id|voted > 0 %}
                    <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- downvote:reply:{{ item._id }} -->
                    {% endif %}
                    <form action="{{ url_for('posts.downvote', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.path + '?' + request.query_string) }}" method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button title="Down vote" class="fa fa-arrow-down fa-lg link downvote buttonlink"></button>
                    </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <ul class="right">
                {% if item.user_id != current_user._id %}
                <li>
                    {% if config.TESTING %}
                    <!-- flag:post:{{ item._id }} -->
                    {% endif %}
                    {% if item._id|flagged %}
                    <i class="fa fa-flag fa-lg flagged"></i>
                    {% else %}
                    <form action="{{ url_for('posts.flag', username=item.username, post_id=item._id, next=request.path + '?' + request.query_string) }}" method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button title="Flag post" class="fa fa-flag fa-lg link buttonlink flag"></button>
                    </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}
