<ul id="list">
    {% if pagination.items %}
        {% for item in pagination.items %}

            {% set loop_first = loop.first %}
            {% set loop_last = loop.last %}

            {% if item.alert_id %}
                {% include 'list_alert.html' %}
            {% elif item.user_id and not item.reply_to %}
                {% include 'list_post.html' %}
            {% elif item.user_id and item.reply_to %}
                {% include 'list_reply.html' %}
            {% elif item.email %}
                {% include 'list_user.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="empty">Empty</div>
    {% endif %}
</ul>

{# Pagination controls #}

{% if pagination.has_pages %}
<div id="pagination" class="clearfix">
    {% set kwargs = dict(request.view_args.items()|list + request.args.lists()|list + [('page', pagination.first_page)]) %}
    {% if pagination.prev_page %}
    <div class="newer">
        {% if config.TESTING %}
        <!-- pagination:newest -->
        {% endif %}
        <a href="{{ url_for(request.endpoint, **dict(kwargs, **{'page': pagination.first_page})) }}">
            <i class="fa fa-angle-double-left"></i>
        </a>
        {% if config.TESTING %}
        <!-- pagination:newer -->
        {% endif %}
        <a href="{{ url_for(request.endpoint, **dict(kwargs, **{'page': pagination.prev_page})) }}">
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    {% endif %}
    {% if pagination.next_page %}
    <div class="older">
        {% if config.TESTING %}
        <!-- pagination:older -->
        {% endif %}
        <a href="{{ url_for(request.endpoint, **dict(kwargs, **{'page': pagination.next_page})) }}">
            <i class="fa fa-angle-right"></i>
        </a>
        {% if config.TESTING %}
        <!-- pagination:oldest -->
        {% endif %}
        <a href="{{ url_for(request.endpoint, **dict(kwargs, **{'page': pagination.last_page})) }}">
            <i class="fa fa-angle-double-right"></i>
        </a>
    </div>
    {% endif %}
</div>
{% endif %}
