{% if config.TESTING %}
    <!-- list:reply:{{item._id}} -->
{% endif %}

<li class="item{% if loop_last %} last{% endif %} post clearfix">
    {% if item.user_avatar %}
    <img class="avatar size48" src="{{ url_for('posts.get_upload', filename=item.user_avatar) }}"/>
    {% else %}
    <img class="avatar size48" src="{{ url_for('static', filename='img/otter_avatar.png') }}"/>
    {% endif %}
    <div class="control">
        {% if item.user_id == current_user._id or post.username == current_user.username %}
        {% if config.TESTING %}
        <!-- delete:reply:{{ item._id }} -->
        {% endif %}
        <form action="{{ url_for('posts.delete_post', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.full_path|string) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button title="Delete post" class="fa fa-remove fa-lg delete buttonlink"></button>
        </form>
        {% endif %}
    </div>
    <div class="content post clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=item.username) }}">{{ item.username|capitalize }}</a>
            {% if item.user_donated %}
            <i class="fa fa-fw fa-heart gold"></i>
            {% endif %}
            <span class="created">{{ item.created|timeify }}</span>
        </div>
        <div class="body">
            {% autoescape false %}
                {{ item|postify }}
            {% endautoescape %}
        </div>
        {% if item.upload %}
        {% if config.TESTING %}
        <!-- upload:reply:{{ item._id }} -->
        {% endif %}
        <div class="image">
            <a href="{{ url_for('posts.get_upload', filename=item.upload_animated if item.upload_animated else item.upload) }}">
                <img{% if item.upload_animated %} class="gif"{% endif %} src="{{ url_for('posts.get_upload', filename=item.upload) }}"/>
            </a>
        </div>
        {% endif %}
        <div class="panel clearfix">
            <ul class="left">
                <li>
                    <i class="fa fa-trophy fa-lg"></i>
                    <span class="score">{{ item.score|millify }}</span>
                </li>
                {% if item.user_id != current_user._id %}
                {% set voted_on = item._id|voted %}
                <li>
                    {% if voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on > 0 %}
                            <!-- upvoted:reply:{{ item._id }} -->
                            {% else %}
                            <!-- upvote:reply:{{ item._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.upvote', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Up vote" class="fa fa-arrow-up fa-lg link {% if voted_on > 0 %}upvoted{% else %}upvote{% endif %}  buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                <li>
                    {% if voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on < 0 %}
                            <!-- downvoted:reply:{{ item._id }} -->
                            {% else %}
                            <!-- downvote:reply:{{ item._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.downvote', username=post.username, post_id=item.reply_to, reply_id=item._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Down vote" class="fa fa-arrow-down fa-lg link {% if voted_on < 0 %}downvoted{% else %}downvote{% endif %} buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <ul class="right">
                {% if item.user_id != current_user._id %}
                <li>
                    {% if config.TESTING %}
                    <!-- flag:post:{{ item._id }} -->
                    {% endif %}
                    {% if item._id|flagged %}
                    <i class="fa fa-flag fa-lg flagged"></i>
                    {% else %}
                    <form action="{{ url_for('posts.flag', username=item.username, post_id=item._id, next=request.full_path|string) }}" method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button title="Flag post" class="fa fa-flag fa-lg link buttonlink flag"></button>
                    </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
