{% if config.TESTING %}
    <!-- list:user:{{item._id}} -->
{% endif %}

<li class="item{% if loop_last %} last{% elif loop_first %} first{% endif %} user clearfix">
    {% if item.avatar %}
    <img class="avatar size48" src="{{ url_for('posts.get_upload', filename=item.avatar) }}"/>
    {% else %}
    <img class="avatar size48" src="{{ url_for('static', filename='img/otter_avatar.png') }}"/>
    {% endif %}
    <div class="control">
        {% if item._id == current_user._id %}
        <a href="{{ url_for('users.settings_profile') }}">
            <div class="action you">You</div>
        </a>
        {% elif item|following %}
        <form action="{{ url_for('users.unfollow', username=item.username, next=request.full_path|string) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button class="action unfollow">Following</button>
        </form>
        {% else %}
        <form action="{{ url_for('users.follow', username=item.username, next=request.full_path|string) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button class="action follow">Follow</button>
        </form>
        {% endif %}
        {% if (request.endpoint == 'users.followers' or request.endpoint == 'users.trusted') and profile._id == current_user._id %}
            {% if item|trusted %}
            <form action="{{ url_for('users.unapprove', username=item.username, next=request.full_path|string) }}" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button class="action unapprove">Trusted</button>
            </form>
            {% else %}
            <form action="{{ url_for('users.approve', username=item.username, next=request.full_path|string) }}" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button class="action approve">Trust</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="content user clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=item.username) }}">
                {{ item.username|capitalize }}
            </a>
            {% if item.donated %}
            <i class="fa fa-fw fa-heart gold"></i>
            {% endif %}
        </div>
        <div class="body">{{ item.about }}</div>
    </div>
</li>
