{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:post:{{item._id}} -->
{% endif %}
<li class="item{% if loop.last %} last{% endif %} clearfix">
    <img class="avatar" src="{{ item.user_email|avatar(32) }}"/>
    <div class="control">
        {% if item.user_id == current_user._id %}
        {% if config.TESTING %}
         <!-- delete:post:{{ item._id }} -->
        {% endif %}
        <a href="{{ url_for('posts.delete_post', username=item.username, post_id=item._id, next=request.path + '?' + request.query_string) }}" class="fa fa-remove fa-lg delete"></a>
        {% endif %}
    </div>
    <div class="content post clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=item.username) }}">{{ item.username|capitalize }}</a>
            <span class="created">{{ item.created|timeify }}</span>
        </div>
        <div class="body">
            {% autoescape false %}
            {{ item.body|e|urlize|nameify }}
            {% endautoescape %}
        </div>
        {% if item.upload %}
        {% if config.TESTING %}
        <!-- upload:post:{{ item._id }} -->
        {% endif %}
        <div class="image">
            <a href="{{ url_for('posts.view_post', username=item.username, post_id=item._id) }}">
                <img src="{{ url_for('posts.get_upload', filename=item.upload) }}"/>
            </a>
        </div>
        {% endif %}
        <div class="panel clearfix">
            <ul class="left">
                <li>
                    <i class="fa fa-trophy fa-lg"></i>
                    {{ item.score|millify }}
                </li>
                {% if item.user_id != current_user._id %}
                <li>
                    {% if item._id|voted > 0 %}
                    {% if config.TESTING %}
                    <!-- upvoted:post:{{ item._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif item._id|voted < 0 %}
                    <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- upvote:post:{{ item._id }} -->
                    {% endif %}
                    <a href="{{ url_for('posts.upvote', username=item.username, post_id=item._id, next=request.path + '?' + request.query_string) }}" class="fa fa-arrow-up fa-lg link upvote"></a>
                    {% endif %}
                </li>
                <li>
                    {% if item._id|voted < 0 %}
                    {% if config.TESTING %}
                    <!-- downvoted:post:{{ item._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif item._id|voted > 0 %}
                    <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- downvote:post:{{ item._id }} -->
                    {% endif %}
                    <a href="{{ url_for('posts.downvote', username=item.username, post_id=item._id, next=request.path + '?' + request.query_string) }}" class="fa fa-arrow-down fa-lg link downvote"></a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <div class="right">
                <a href="{{ url_for('posts.view_post', username=item.username, post_id=item._id) }}" class="link comments">
                    <i class="fa fa-comments fa-lg"></i>
                    {{ item.comment_count|millify }}
                </a>
            </div>
        </div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}