{% if config.TESTING %}
    <!-- list:post:{{item._id}} -->
{% endif %}

<li class="item{% if loop_last %} last{% endif %} post clearfix">
    {% if item.user_avatar %}
    <img class="avatar size48" src="{{ url_for('posts.get_upload', filename=item.user_avatar) }}"/>
    {% else %}
    <img class="avatar size48" src="{{ url_for('static', filename='img/otter_avatar.png') }}"/>
    {% endif %}
    <div class="control">
        {% if item.user_id == current_user._id %}
            {% if config.TESTING %}
            <!-- delete:post:{{ item._id }} -->
            {% endif %}
            <form action="{{ url_for('posts.delete_post', username=item.username, post_id=item._id, next=request.full_path|string) }}" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button title="Delete post" class="fa fa-remove fa-lg delete buttonlink"></button>
            </form>
        {% elif request.endpoint == 'users.feed' %}
            {% if config.TESTING %}
            <!-- remove:post:{{ item._id }} -->
            {% endif %}
            <form action="{{ url_for('users.remove_from_feed', post_id=item._id, next=request.full_path|string) }}" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button title="Remove item from feed" class="fa fa-eye-slash hide buttonlink"></button>
            </form>
        {% endif %}
    </div>
    <div class="content post clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=item.username) }}">{{ item.username|capitalize }}</a>
            {% if item.user_donated %}
            <i class="fa fa-fw fa-heart gold"></i>
            {% endif %}
            <span class="permission">
                {% if item.permission == 0 %}
                    <i class="fa fa-fw fa-globe"></i>
                {% elif item.permission == 1 %}
                    <i class="fa fa-fw fa-shield"></i>
                {% elif item.permission == 2 %}
                    <i class="fa fa-fw fa-check"></i>
                {% endif %}
            </span>
            <span class="created">{{ item.created|timeify }}</span>
        </div>
        <div class="body">
            {% set line_count = item.body.count('\n') %}
            {% autoescape false %}
                {% if line_count > config.LINE_CAP %}
                    {{ item|postify(limit_lines=True) }}
                {% else %}
                    {{ item|postify }}
                {% endif %}
            {% endautoescape %}

            {% if line_count > config.LINE_CAP %}
            <p>
                <a href="{{ url_for('posts.view_post', username=item.username, post_id=item._id) }}">
                    Read more ...
                </a>
            </p>
            {% endif %}
        </div>
        {% if item.upload %}
            {% if config.TESTING %}
            <!-- upload:post:{{ item._id }} -->
            {% endif %}
            <div class="image">
                {% if current_user.hide_feed_images %}
                <div class="no-image">
                    {% if config.TESTING %}
                    <!-- upload:hidden:{{ item._id }} -->
                    {% endif %}
                    <i class="fa fa-picture-o fa-lg"></i>
                </div>
                {% else %}
                <a href="{{ url_for('posts.view_post', username=item.username, post_id=item._id) }}">
                    <img{% if item.upload_animated %} class="gif"{% endif %} src="{{ url_for('posts.get_upload', filename=item.upload) }}"/>
                </a>
                {% endif %}
            </div>
        {% endif %}
        <div class="panel clearfix">
            <ul class="left">
                <li>
                    <i class="fa fa-trophy fa-lg"></i>
                    <span class="score">{{ item.score|millify }}</span>
                </li>
                {% if item.user_id != current_user._id %}
                {% set voted_on = item._id|voted %}
                <li>
                    {% if voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on > 0 %}
                            <!-- upvoted:post:{{ item._id }} -->
                            {% else %}
                            <!-- upvote:post:{{ item._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.upvote', username=item.username, post_id=item._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Up vote" class="fa fa-arrow-up fa-lg link {% if voted_on > 0 %}upvoted{% else %}upvote{% endif %}  buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                <li>
                    {% if voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on < 0 %}
                            <!-- downvoted:post:{{ item._id }} -->
                            {% else %}
                            <!-- downvote:post:{{ item._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.downvote', username=item.username, post_id=item._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Down vote" class="fa fa-arrow-down fa-lg link {% if voted_on < 0 %}downvoted{% else %}downvote{% endif %} buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <div class="right">
                <a href="{{ url_for('posts.view_post', username=item.username, post_id=item._id) }}" class="link comments">
                    <i title="View comments" class="fa fa-comments fa-lg"></i>
                    {{ item.comment_count|millify }}
                </a>
            </div>
        </div>
    </div>
</li>
