{% extends 'list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
{% if config.TESTING %}
<!-- list:user:{{item.username}} -->
{% endif %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} user clearfix">
    <div class="top-section">
        <img class="avatar" src="{{ item.email|avatar(24) }}"/>
        <div class="control">
            {% if item.uid != current_user['uid'] %}
            {% if item|following %}
            <a href="{{ url_for('unfollow', username=item.username, next=request.path + '?' + request.query_string) }}">
                <div onmouseover="this.innerHTML = 'Unfollow'" onmouseout="this.innerHTML = 'Following'"
                     class="action-button unfollow">Following
                </div>
            </a>
            {% else %}
            <a href="{{ url_for('follow', username=item.username, next=request.path + '?' + request.query_string) }}">
                <div class="action-button follow">Follow</div>
            </a>
            {% endif %}
            {% else %}
            <a href="{{ url_for('settings_profile') }}">
                <div onmouseover="this.innerHTML = 'Edit'" onmouseout="this.innerHTML = 'You'"
                     class="action-button you">You
                </div>
            </a>
            {% endif %}
        </div>
        <div class="details-user clearfix">
            <div class="username">
                <a href="{{ url_for('profile', username=item.username) }}">
                    {{ item.username|capitalize }}
                </a>
                <span class="user-score">{{ item.score|millify }}</span>
            <div class="body">{{ item.about|urlize|nameify }}</div>
        </div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}