{% extends 'base_main.html' %}

{% block title %}{{ profile['username']|capitalize }}{% endblock %}

{% block main %}
<div id="profile" class="block clearfix">
    <div class="top-section">
        <img class="avatar" src="{{ profile['email']|gravatar(48) }}"/>
        <div class="details clearfix">
                <div class="username">
                    {{ profile['username']|capitalize }}
                    <span class="user-score">{{ profile['score']|millify }}</span>
                </div>
            <div class="body">{{profile['about']}}</div>
        </div>
    </div>
    <div class="panel clearfix">
        <ul class="clearfix">
            <a class="first" href="{{ url_for('profile', username=profile['username']) }}">
                <li class="link">Posts: {{ profile['post_count']|millify }}</li>
            </a>
            <a href="{{ url_for('followers', username=profile['username']) }}">
                <li class="link">Followers: {{ profile['followers_count']|millify }}</li>
            </a>
            <a href="{{ url_for('following', username=profile['username']) }}">
                <li class="link last">Following: {{ profile['following_count']|millify }}</li>
            </a>
        </ul>
        {% if profile['uid'] != current_user['uid'] %}
        {% if profile|following %}
        <a href="{{ url_for('unfollow', username=profile['username'], next=request.path) }}">
            <div onmouseover="this.innerHTML = 'Unfollow'" onmouseout="this.innerHTML = 'Following'"
                 class="action-button unfollow">Following
            </div>
        </a>
        {% else %}
        <a href="{{ url_for('follow', username=profile['username'], next=request.path) }}">
            <div class="action-button follow">Follow</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{{ url_for('settings_profile') }}">
            <div onmouseover="this.innerHTML = 'Edit'" onmouseout="this.innerHTML = 'You'"
                 class="action-button you">You
            </div>
        </a>
        {% endif %}
    </div>
</div>

{% if profile['uid'] == current_user['uid'] and request.endpoint == 'profile' %}
    {% include 'author_post.html' %}
{% endif %}

<div id="content" class="block clearfix">
{% block content %}
{% endblock %}
</div>

{% endblock %}
