{% extends 'base_main.html' %}

{% block title %}{{ profile['username']|capitalize }}{% endblock %}

{% block main %}
<div id="profile" class="clearfix">
    <img class="avatar" src="{{ profile['email']|gravatar(48) }}"/>
    <div class="details clearfix">
        <div class="username">{{ profile['username']|capitalize }}</div>
        <div class="body">{{profile['about']}}</div>
    </div>
    <div class="information clearfix">
        <ul class="clearfix">
            <li>{{ profile['score']|millify }}</li>
            <a href="{{ url_for('profile', username=profile['username']) }}">
                <li class="link">{{ profile['post_count']|millify }} posts</li>
            </a>
            <a href="{{ url_for('followers', username=profile['username']) }}">
                <li class="link">{{ profile['followers_count']|millify }} followers</li>
            </a>
            <a href="{{ url_for('following', username=profile['username']) }}">
                <li class="link">{{ profile['following_count']|millify }} following</li>
            </a>
        </ul>
        {% if profile['uid'] != current_user['uid'] %}
        {% if profile|following %}
        <a href="{{ url_for('unfollow', username=profile['username'], next=request.path) }}">
            <div onmouseover="this.innerHTML = 'Unfollow'" onmouseout="this.innerHTML = 'Following'"
                 class="action-button unfollow">Following
            </div>
        </a>
        {% else %}
        <a href="{{ url_for('follow', username=profile['username'], next=request.path) }}">
            <div class="action-button follow">Follow</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{{ url_for('settings_profile') }}">
            <div onmouseover="this.innerHTML = 'Edit'" onmouseout="this.innerHTML = 'You'"
                 class="action-button you">You
            </div>
        </a>
        {% endif %}
    </div>
</div>
{% if profile['uid'] == current_user['uid'] %}
{% include 'author_post.html' %}
{% endif %}
<div id="content" class="clearfix">
    {% block content %}{% endblock %}
</div>
{% endblock %}
