{% extends 'settings.html' %}


{% block settings %}
<h1>Profile settings</h1>
<div id="setting" class="clearfix">
    <div class="details">
        <div class="detail">User Name: <b>{{ current_user['username'] }}</b></div>
        <div class="detail">E-mail address: <b>{{ current_user['email'] }}</b></div>
        <div class="detail">
            Avatar:<br/>
            <img src="{{ current_user['email']|avatar(48) }}"/><br/>
            <a href="http://gravatar.com" target="_blank">Edit Gravatar</a>
            <p>We use Gravatar to provide avatars at the moment. If you wish to change your picture head on over there and create an account.</p>
            <p>This will change to our own custom rolled avatar system in the near future.</p>
        </div>
    </div>
    <form action="" method="post">
        {{ form.about.label }}:
        <textarea id="about" name="about" rows="5" maxlength="255">{{ current_user['about'] }}</textarea>
        <div id="character-count"></div>
        {% if form.about.errors %}
        <ul class="errorlist">
            {% for error in form.about.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.csrf_token }}
        <input type="submit" value="Update Profile" tabindex="4"/>
    </form>
</div>
{% endblock %}
