{% extends 'base_auth.html' %}

{% block header %}Sign In{% endblock%}
{% block form %}
<form action="" method="post" autocomplete="off">
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.csrf_token }}
    <input type="submit" value="Sign In" tabindex="3"/>
</form>
{% endblock %}
{% block links %}
<div class="link">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up for free</a></div>
<div class="link">Forgotten your password? <a href="{{ url_for('forgot') }}">Recover it here</a></div>
{% endblock %}
