{% extends 'base_main.html' %}

{% block title %}Post - {{ post.username|capitalize }}{% endblock %}

{% block main %}
{% if config.TESTING %}
<!-- view:post:{{ post._id }} -->
{% endif %}
<div id="post" class="block clearfix">
    <img class="avatar" src="" />

    <div class="control">
        {% if post.user_id == current_user._id %}
        {% if config.TESTING %}
        <!-- delete:post:{{ post._id }} -->
        {% endif %}
        <a href="{{ url_for('posts.delete_post', username=post.username, post_id=post._id, next=request.path) }}" class="fa fa-remove fa-lg delete"></a>
        {% endif %}
    </div>

    <div class="content clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=post.username) }}">{{ post.username|capitalize }}</a>
            <span class="created">{{ post.created|timeify }}</span>
        </div>
        <div class="body">
            {% autoescape false %}
            {{ post.body|e|urlize|nameify }}
            {% endautoescape %}
        </div>
        <div class="panel clearfix">
            <ul>
                <li>
                    <i class="fa fa-trophy fa-lg"></i> {{ post.score|millify }}
                </li>
                {% if post.user_id != current_user._id %}
                <li>
                    {% if post._id|voted > 0 %}
                    {% if config.TESTING %}
                    <!-- upvoted:post:{{ post._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif post._id|voted < 0 %}
                    <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- upvote:post:{{ post._id }} -->
                    {% endif %}
                    <a href="{{ url_for('posts.upvote', username=post.username, post_id=post._id, next=request.path) }}" class="fa fa-arrow-up fa-lg link upvote"></a>
                    {% endif %}
                </li>
                <li>
                    {% if post._id|voted < 0 %}
                    {% if config.TESTING %}
                    <!-- downvoted:post:{{ post._id }} -->
                    {% endif %}
                    <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif post._id|voted > 0 %}
                    <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                    {% if config.TESTING %}
                    <!-- downvote:post:{{ post._id }} -->
                    {% endif %}
                    <a href="{{ url_for('posts.downvote', username=post.username, post_id=post._id, next=request.path) }}" class="fa fa-arrow-down fa-lg link downvote"></a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            {% if post._id|subscribed %}
            <div class="right">
                {% if config.TESTING %}
                <!-- unsubscribe:post:{{ post._id }} -->
                {% endif %}
                <a href="{{ url_for('posts.unsubscribe', username=post.username, post_id=post._id, next=request.path + '?' + request.query_string) }}" class="fa fa-bell-slash fa-lg link unsubscribe"></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'author_reply.html' %}

<div id="content" class="block clearfix">
    <h1>Comments</h1>
    {% include 'list_replies.html' %}
</div>
{% endblock %}
