{% extends 'base_main.html' %}

{% block title %}Post - {{ post.username|capitalize }}{% endblock %}

{% block main %}
{% if config.TESTING %}
<!-- view:post:{{ post._id }} -->
{% endif %}
<div id="post" class="block clearfix">
    {% if post.user_avatar %}
    <img class="avatar size48" src="{{ url_for('posts.get_upload', filename=post.user_avatar) }}"/>
    {% else %}
    <img class="avatar size48" src="{{ url_for('static', filename='img/otter_avatar.png') }}"/>
    {% endif %}

    <div class="control">
        {% if post.user_id == current_user._id %}
        {% if config.TESTING %}
        <!-- delete:post:{{ post._id }} -->
        {% endif %}
        <form action="{{ url_for('posts.delete_post', username=post.username, post_id=post._id) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button title="Delete post" class="fa fa-remove fa-lg delete"></button>
        </form>
        {% endif %}
    </div>

    <div class="content clearfix">
        <div class="username">
            <a href="{{ url_for('users.profile', username=post.username) }}">{{ post.username|capitalize }}</a>
            {% if post.user_donated %}
            <i class="fa fa-fw fa-heart gold"></i>
            {% endif %}
            <span class="permission">
                {% if post.permission == 0 %}
                    <i class="fa fa-fw fa-globe"></i>
                {% elif post.permission == 1 %}
                    <i class="fa fa-fw fa-shield"></i>
                {% elif post.permission == 2 %}
                    <i class="fa fa-fw fa-check"></i>
                {% endif %}
            </span>
            <span class="created">{{ post.created|timeify }}</span>
        </div>
        <div class="body">
            {% autoescape false %}
            {{ post|postify }}
            {% endautoescape %}
        </div>
        {% if post.upload %}
        {% if config.TESTING %}
        <!-- upload:post:{{ post._id }} -->
        {% endif %}
        <div class="image">
            <a href="{{ url_for('posts.get_upload', filename=post.upload_animated if post.upload_animated else post.upload) }}">
                <img{% if post.upload_animated %} class="gif"{% endif %} src="{{ url_for('posts.get_upload', filename=post.upload) }}"/>
            </a>
        </div>
        {% endif %}
        <div class="panel clearfix">
            <ul class="left">
                <li>
                    <i class="fa fa-trophy fa-lg"></i>
                    <span class="score">{{ post.score|millify }}</span>
                </li>
                {% if post.user_id != current_user._id %}
                {% set voted_on = post._id|voted %}
                <li>
                    {% if voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg upvoted"></i>
                    {% elif voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-up fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on > 0 %}
                            <!-- upvoted:post:{{ post._id }} -->
                            {% else %}
                            <!-- upvote:post:{{ post._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.upvote', username=post.username, post_id=post._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Up vote" class="fa fa-arrow-up fa-lg link {% if voted_on > 0 %}upvoted{% else %}upvote{% endif %}  buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                <li>
                    {% if voted_on < 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg downvoted"></i>
                    {% elif voted_on > 0 and not voted_on|reversable %}
                        <i class="fa fa-arrow-down fa-lg inactive"></i>
                    {% else %}
                        {% if config.TESTING %}
                            {% if voted_on < 0 %}
                            <!-- downvoted:post:{{ post._id }} -->
                            {% else %}
                            <!-- downvote:post:{{ post._id }} -->
                            {% endif %}
                        {% endif %}
                        <form action="{{ url_for('posts.downvote', username=post.username, post_id=post._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Down vote" class="fa fa-arrow-down fa-lg link {% if voted_on < 0 %}downvoted{% else %}downvote{% endif %} buttonlink"></button>
                        </form>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <ul class="right">
                {% if post.user_id != current_user._id %}
                <li>
                    {% if post._id|flagged %}
                        {% if config.TESTING %}
                        <!-- flag:post:{{ post._id }} -->
                        {% endif %}
                        <i class="fa fa-flag fa-lg flagged"></i>
                        {% else %}
                        <form action="{{ url_for('posts.flag', username=post.username, post_id=post._id, next=request.full_path|string) }}" method="post">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <button title="Flag post" class="fa fa-flag fa-lg link buttonlink flag"></button>
                        </form>
                    {% endif %}
                </li>
                {% endif %}
                {% if post._id|subscribed %}
                <li>
                    {% if config.TESTING %}
                    <!-- unsubscribe:post:{{ post._id }} -->
                    {% endif %}
                    <form action="{{ url_for('posts.unsubscribe', username=post.username, post_id=post._id, next=request.full_path|string) }}" method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button class="fa fa-bell-slash fa-lg link unsubscribe"></button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if current_user %}
    {% include 'author_reply.html' %}
{% endif %}

<div id="content" class="block clearfix">
    <h1 class="clearfix">
        <div class="left">Replies</div>
        <div class="right">
            {% if sort == -1 %}
            <a href="{{ url_for(request.endpoint, **dict(request.view_args.items()|list + request.args.lists()|list + [('sort', 1)])) }}">
                <i class="fa fa-lg fa-sort-numeric-asc"></i>
            </a>
            {% else %}
            <a href="{{ url_for(request.endpoint, **dict(request.view_args.items()|list + request.args.lists()|list + [('sort', -1)])) }}">
                <i class="fa fa-lg fa-sort-numeric-desc"></i>
            </a>
            {% endif %}
        </div>
    </h1>
    {% include 'list.html' %}
</div>
{% endblock %}
