{% extends 'base_main.html' %}

{% block title %}Donations{% endblock %}

{% block main %}
<div id="pages" class="block clearfix">
    <h1>Donations</h1>

    <p>Pjuu now accept's donations :)</p>

    <p><strong>These are voluntary so please don't feel like you need to donate!</strong></p>

    <h2>What are donations used for?</h2>

    <p>
        All donations will be used to pay for the infrastructure, domain names and other costs directly related to running Pjuu!
        It will not be used for anything else, that's a promise.
    </p>

    <h2>Do I get anything for donating?</h2>

    <p>
        You sure do! You get a lovely gold heart <i class="fa fa-fw fa-heart gold"></i> next to your name.
    </p>

    <p>
        If you want the icon just add your username to the message on the donation page and we will add it your account.
    </p>

    <p>
        <strong>
            If you want to stay anonymous from your account then don't include your Pjuu username and we won't add it.
        </strong>
        If you want to remove it after you have it please send an e-mail to <a href="mailto:donations@pjuu.com">donations@pjuu.com</a> and we will remove it.
    </p>

    <h2>How can I donate?</h2>

    <p>We only support PayPal at the moment.</p>

    <p>If you have a suggestion for another method please let us know.</p>

    <p>With the button below you can directly support the Pjuu project.</p>

    <p>
        <a class="btn-donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=H4A4LJMB76WPY">
            <i class="fa fa-paypal"></i>
            Donate with PayPal
        </a>
    </p>

    <h2>Thank you</h2>

    <p>Even if you have just read this page, <strong>Thank You</strong>.</p>

    <p>We have been working hard and plan to work harder to help protect your privacy.</p>

    <div class="end">End</div>
</div>
{% endblock %}
