{% extends 'base_main.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block main %}
<div id="pages" class="block clearfix">
    <h1>Privacy bothers us!</h1>

    <p>Privacy is our primary concern on Pjuu. We do not care if you sign up with a temporary e-mail address or a user name which does not relate to you in any way.</p>

    <p>The e-mail address only needs to be alive long enough to activate your account, you can then delete it after this if you so wish. Be warned if this is a temporary e-mail address and you forget your password, you will not be able to recover your account.</p>

    <p>If you are at all worried about your IP address being known or are in a country with a government who does not allow free access to the Internet I strongly suggest using <a href="https://www.torproject.org/" target="_blank">The Onion Router (TOR)</a>.

    <p>We want to be as open as possible about when it comes to your data, the site in general, and everything in between. If you have any suggestions please let us know.</p>

    <h2>What information do you collect?</h2>

    <p>We store only the information you provide to Pjuu. We store your sign up form as a user object when the sign up is successful. This includes your user name, e-mail and hashed password. We also add some meta data (not the bad kind) which includes; banned status, muted status, activated status, user identification number, last login, about message (empty by default), last time you checked your alerts, etc. There is nothing stored which could identify you that you didn't type in.</p>

    <p>If you decide to post, comment or vote we also store this data for you within our database.</p>

    <p>We also store some connection information in our web server log files. This includes the browser you came from and your IP address. This allows us to see if there are any issues related to a browser if we encounter a server error. s</p>

    <p>If you are worried about what is being stored about you, hop over to <a target="_blank" href="https://github.com/pjuu/pjuu">Github</a> and audit the code yourself. Everything we store is to keep the site working and allow us to administer it.</p>

    <h2>How long is my data kept?</h2>

    <p>The data you post on Pjuu, your user account, posts, comments, votes and follows are stored until you either decide to delete them individually or delete your account.</p>

    <p>Further to this, our web server logs and database backups are only kept for 7 days. If you delete your account, posts, comments, etc, these will only exist for 7 days at most. They will however be removed from the site immediately.</p>

    <p><i>We are subject to the laws of the United Kingdom. In the future we may be forced to increase the time this data is kept. If this ever happens we will inform all users immediatley. We will also highlight any legal requests we receive if the site/software becomes large enough to have to deal with this.</i></p>

    <h2>How do you secure this data?</h2>

    <p>All of your data is stored on servers owned by us. These are hosted by <a href="https://www.digitalocean.com" target="_blank">Digital Ocean</a>.</p>

    <p>All servers are protected by firewalls from the outside world so only Pjuu administrators have access to this data.</p>

    <p>There are only 2 engineers capable of looking at any of the data stored within our databases. <i>I would like to highlight that the only time we would ever delve in to the database is if there is an issue.</i></p>

    <p>The database backups themselves are encrypted and shipped to another server within the DigitalOcean network. The keys to decrypt this data are stored separately to the database backups themselves.</p>

    <h2>Do you use cookies?</h2>

    <p>Yes but don't be alarmed. Cookies are needed so that you can sign in. If we could not identify you as being logged in, you would not be able to post, comment, or anything else.</p>

    <p>Inside your cookie is simply an identifier number which allows us to locate your <i>session</i>. The session does not store anything special, it simply has your user identification number and some data which allows us to provide the messages which flash after you post a comment, for example.</p>

    <p>We do not and never will use third part cookies on our websites.</p>

    <h2>What do you do with this data?</h2>

    <p>Nothing. The data stored is to allow you to use the site however you want. The only thing we do for you is allow people to search for your user name and allow other users to see the posts you post (depending on permissions).</p>

    <p>I can confirm that we do not analyse your data to sell you anything. We have no adverts and have no desire to profile you.</p>

    <p>Our future goal is to allow you to use the Pjuu network but store the data yourself if you so wish. So it would not make sense to start doing any of the above.</p>

    <h2>What if I have a question?</h2>

    <p>You can email us. If it's about privacy then e-mail us at <a href="mailto:privacy@pjuu.com">privacy@pjuu.com</a>. There are also more contact methods available on our <a target="_blank" href="https://github.com/pjuu/pjuu">Github</a>.</p>

    <p>We are not very good at writing what people who do this for a living call "copy", we write code. If we have missed something please let us know. If we get questions which the answer to would be useful, we will post them on here.</p>

    <div class="end">End</div>
</div>
{% endblock %}
