{% extends 'base_main.html' %}

{% block title %}Terms of Service{% endblock %}

{% block main %}
<div id="pages" class="block clearfix">
    <h1>Terms of Service</h1>
    <p>
        These Terms of Service (“Terms”) govern your use and access of Pjuu (“The Service”) including
        emails that may be sent to you as a result of its use, and any information you submit to us
        including, but not limited to, text and images. By using the Service you agree to be bound by
        these Terms.
    </p>

    <ol>

        <li>
            You are responsible for your use of the service and any content you post to it and the
            consequences that may arise as a result of doing so. The content posted to the service
            will be available to all registered users of the service.
        </li>

        <li>
            Any information that you provide to the service is subject to our privacy policy located at
            <a href="{{ url_for('pages.privacy') }}">https://pjuu.com/privacy</a> which defines what information is collected and how it is used.
            You understand by using the service you consent to the collection of this data and its use as
            defined in the privacy policy.
        </li>

        <li>
            You are responsible for ensuring that your sign-in details for the site are properly safeguarded.
            We strongly encourage you to ensure you are using a strong password for the service, making use
            of both upper and lower case characters, numbers and symbols. It should be of a sufficient length
            to help resist attack. We cannot and will not be held responsible for loss and/or damage as a
            result of your failure to follow the recommendations above.
        </li>

        <li>
            Content posted to the site is the sole responsibility of the entity that posted it to the service.
            We can not monitor nor control the content posted to the service and as such can not take responsibility
            for it. Use of and reliance on content posted to the service is done so at your own risk.

            By using the service you understand and agree that you may be exposed to content that you and/or
            others may find offensive, harmful, inaccurate and/or inappropriate. In some cases the content posted
            to the service may be deceptive. You agree and understand that we cannot and will not be held
            responsible for content posted to the service, nor can we be held responsible for any loss and/or
            damage of any kind incurred as a result of content being posted to the service.

            You retain the rights to any content you submit to the service. By submitting your content to the
            service you agree to provide us with a world wide non-exclusive royalty free license to reproduce and
            redistribute the content through the site.

            We may modify and/or adapt your content to transmit, display or distribute it over computer networks
            and/or make changes to your Content as are necessary to conform and adapt that content to any
            requirements or limitations of any networks, devices, services or media.
        </li>


        <li>
            We reserve the right, but will not be obliged to remove or refuse to distribute any content on the
            Services, to suspend or terminate users, and to reclaim user names. We also reserve the right to access,
            preserve and disclose information we believe is reasonably necessary to either:
            <ul>
                <li>
                    Satisfy applicable legal process, regulation, and/or governmental request Enforce the
                    Terms and conditions for the service including investigation of potential violations
                </li>
                <li>Detect and prevent fraudulent activity</li>
                <li>Security issues</li>
                <li>Technical issues</li>
                <li>Respond to user support requests</li>
                <li>Protect the rights, property or safety of users and/or the wider public.</li>
            </ul>
        </li>

        <li>
            There are some limitations on the type of content you can post to the service.  These limitations are
            intended to comply with legal requirements and allow the service to be a better experience for all who
            use it. We reserve the right to change these requirements at any time if deemed appropriate.
            <ul>
                <li>
                    You may not impersonate others through the service in a manner that is intended to mislead,
                    deceive or confuse other users of the service.
                </li>
                <li>
                    We reserve the right to reclaim accounts on behalf of businesses and/or individuals that hold
                    legal claim or trademark on those user names. Accounts using business names and/or images to
                    mislead others may be permanently suspended from the service.
                </li>
                <li>
                    You may not publish or post other people's private and/or confidential information or financial
                    information. For example credit card numbers, street address or National Identity numbers. You
                    must not post intimate imagery that has been taken or distributed without the subject's consent.
                </li>
                <li>
                    You may not post threats of violence against others and/or promote violence against others.
                    Doing so will result in your account being suspended without notice and access to the service
                    being restricted.
                </li>
            </ul>
            Doing so will result in your account being suspended and your access to the service being restricted.
            <ul>
                <li>
                    We will respond to complete and clear notices of alleged copyright infringement. Copyright
                    procedures are set out below.
                </li>
                <li>
                    You are not permitted to use the service for any unlawful purposes or in pursuance of any
                    illicit activities. International users agree to comply with applicable laws regarding on-line
                    conduct and acceptable content.
                </li>
            </ul>
        </li>

        <li>
            We respect the intellectual property rights of others, and expect that users of the service do so also.
We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us.
We can/may remove content from the site at our discretion and reserve the right to do so.
        </li>

        <li>
            You may end this agreement at any time by deleting your account from the service or ceasing use of the service.

            We may suspend and/or terminate your account or cease providing you with any part of the service at any time for any or no reason, including but not limited to:  Violation of these terms , you create a risk or possible legal issue and/or exposure. In any of these cases, provision of the Services to you will no longer be viable. We will make reasonable efforts to notify you of this via the email address associated with your account.
        </li>
    </ol>
    <div class="end">End</div>
</div>
{% endblock %}
