.inactive {
    color: #DDD;
}

.left {
    float: left;
}

.right {
    float: right;
}

.link {
    color: #999;
}

.upvote:hover {
    color: #0C0;
}

.upvoted {
    color: #0C0;
}

.downvote:hover {
    color: #C00;
}

.downvoted {
    color: #C00;
}

.delete {
    color: #999;
}

.delete:hover {
    color: #C00;
}

.flag:hover {
    color: #C00;
}

.flagged {
    color: #C00;
}

.hide {
    color: #999;
}

.hide:hover {
    color: #C00;
}

.comments:hover {
    color: #33C;
}

.unsubscribe:hover {
    color: #333;
}

.gold {
    color: #FFD700;
    font-size: 13px;
}