#profile {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0;
}

#profile .top {
    padding: 0.5em;
}

#profile .avatar {
    display: block;
    float: left;
    margin: 0;
}

#profile .content {
    margin: 0 0 0 5em;
    padding: 0;
}

#profile .username {
    font-size: 1.5em;
    line-height: 1em;
}

#profile .user-score {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 0.1em 0.25em 0;
    margin: 0 0 0 0.25em;
}

#profile .body {
    margin: 1em 0 0;
    word-wrap: break-word;
}

#profile .panel {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    border-radius: 0 0 6px 6px;
    color: #999;
    margin: 1em 0 0;
}

#profile .panel a {
    color: #666;
}

#profile .panel a:hover {
    color: #333;
}

#profile ul {
    float: left;
    margin: 0;
    padding: 0;
}

#profile li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

#profile .action-box {
    float: right;
}

#profile .action-box li {
    padding: 0.25em;
}

#profile .action-box .unapprove, #profile .action-box .approve {
    margin-top: 0;
}

#profile .action {
    border-radius: 3px;
    font-weight: 700;
    padding: 0.25em 1em;
    text-align: center;
    width: 100px;
    text-align: center;
}

#profile .additional div {
    float: left;
    margin: 1em 2em 0 0;
}

@media only screen and (max-width: 750px) {
    #profile .username {
        line-height: 1em;
        margin-top: 3px;
        vertical-align: middle;
    }

    /*#profile .body {
        display: none;
    }*/

    #profile .panel {
        margin: 0;
        padding: 0.25em;
    }

    #profile .panel ul {
        float: none;
    }

    #profile .panel li {
        float: none;
        padding: 0.5em 0.5em;
    }

    #profile .action {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0.5em 0;
    }
}