.tip {
    background-color: #F5FAE6;
    border: 1px solid #680;
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
}

.tip .content {
    margin: 0px 32px 20px 100px;
}

.tip .content h1 {
    font-size: 1.5em;
    margin-top: 0;
}

.tip button {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
}

.tip .hide {
    color: #680;
}

.tip .hide:hover {
    color: #C00;
}

.tip p {
    margin-bottom: 1em;
}

@media only screen and (max-width: 750px) {
    .tip .content {
        margin: 0 32px 0 0;
    }
}