{% extends 'base.html' %}

{% block includes %}
<link href="{{ url_for('static', filename='css/users.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/posts.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block layout %}
<div id="header" class="clearfix">
    <img src="{{ url_for('static', filename='img/logo_white.png') }}" width="105" height="52" />
    <ul class="account">
        <a href="{{ url_for('feed') }}"><li>Feed</li></a>
        <a href="{{ url_for('profile', username=current_user.username) }}"><li>Profile</li></a>
        <a href="{{ url_for('logout') }}"><li>Logout</li></a>
    </ul>
</div>
<div id="content" class="clearfix">
    {% block contenthead %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% endblock %}
