{% extends 'base.html' %}
{% block layout %}
<div id="menu" class="clearfix">
    <img class="logo" src="{{ url_for('static', filename='img/logo_white.png') }}" width="105" height="52"/>
    <div class="version">
        {{ version }}
    </div>
    <ul>
        <a href="{{ url_for('feed') }}">
            <li>Feed</li>
        </a>
        <a href="{{ url_for('profile', username=current_user.username) }}">
            <li><span class="user-score">{{ current_user.score|millify }}</span>{{ current_user.username|capitalize }}</li>
        </a>
        <a href="{{ url_for('settings_account') }}">
            <li>Settings</li>
        </a>
        <a href="{{ url_for('signout') }}">
            <li>Sign Out</li>
        </a>
    </ul>
    <div class="search">
        <form action="{{ url_for('search') }}" method="GET">
            <label for="query">Search</label>
            <input type="text" name="query"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
    <div class="open-source">
        Pjuu is open source software<br /> Fork us or just contribute<br />
        <a href="https://github.com/pjuu/pjuu" target="_blank">
            <img src="{{ url_for('static', filename='img/github.png') }}" />
        </a>
    </div>
</div>
<div id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="messages">
        {% for category, message in messages %}
        <div class="message {{ category|safe }}">{{ message|safe }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block main %}{% endblock %}
</div>
{% endblock %}
