<ul id="list">
    {% block list %}{% endblock %}
    {# Pagination controls #}
    {% if pagination.has_pages %}
    <div id="pagination" class="clearfix">
        {% if pagination.has_prev %}
        <a href="{{ request.path + "?page=%s" % pagination.prev_num }}">
        <div class="button active prev">
            << Previous
        </div>
        </a>
        {% endif %}
        {% if pagination.has_next %}
        <a href="{{ request.path + "?page=%s" % pagination.next_num }}">
        <div class="button active next">
            Next >>
        </div>
        </a>
        {% endif %}
    </div>
    {% endif %}
</ul>