{% extends 'users/list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
<li class="item{% if loop.last %} last{% endif %} clearfix">
    <img class="avatar" src="{{ item.user_email|gravatar(24) }}"/>

    <div class="scoring">
        <div class="score">{{ item.score }}</div>
        <div class="vote">

        </div>
    </div>
    <div class="details clearfix">
        <div class="username"><span class="user-score">{{ item.user_score }}</span>{{ item.user_username }}</div>
        <div class="body">{{ item.body }}</div>
        <div class="created">{{ item.created|timeify }}</div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}