<ul class="list">
    {% for items in pagination.items %}
    {% else %}
        <div class="empty">{% block empty %}{% endblock %}</div>
    {% endfor %}
    {% if pagination.has_prev or pagination.has_next %}
        <div id="pagination">
        {% if pagination.has_prev %}
            <a href="{{ request.path + "?page=%s" % pagination.prev_num }}">
                <div class="prev">
                    Newer
                </div>
            </a>
        {% else %}
            <div class="prev">
                Newer
            </div>
        {% endif %}
        {% if pagination.has_next %}
            <a href="{{ request.path + "?page=%s" % pagination.next_num }}">
                <div class="next">
                    << Older
                </div>
            </a>
        {% else %}
            <div class="next">
               Newer >>
            </div>
        {% endif %}
        </div>
    {% endif %}
</ul>
