{% extends 'users/list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} clearfix">
    <img class="avatar" src="{{ item.user_email|gravatar(24) }}"/>
    <div class="scoring">
        <div class="score">{{ item.score|millify }}</div>
        {% if current_user.uid != item.uid %}
        <div class="vote">
            {% if item.pid|voted(cid=item.cid) %}
            <div class="vote-score">{{ item.pid|voted(cid=item.cid) }}</div>
            {% else %}
            <a href="{{ url_for('upvote', username=item.post_author, pid=item.pid, cid=item.cid) }}"><div>Up</div></a>
            <a href="{{ url_for('downvote', username=item.post_author, pid=item.pid, cid=item.cid) }}"><div>Down</div></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="control">
        {% if item.user_username == current_user.username %}
        <a href="{{ url_for('delete_post', username=item.user_username, pid=item.pid, cid=item.cid) }}"><div class="delete">X</div></a>
        {% endif %}
    </div>
    <div class="details clearfix">
        <div class="username">
            <span class="user-score">{{ item.user_score|millify }}</span>
            <a href="{{url_for('profile', username=item.user_username)}}">{{ item.user_username }}</a>
        </div>
        <div class="body">{{ item.body }}</div>
        <div class="created">{{ item.created|timeify }}</a></div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}