{% extends 'users/list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} clearfix">
    <img class="avatar" src="{{ item.user_email|gravatar(24) }}"/>
    <div class="scoring">
        <div class="score">{{ item.score }}</div>
        <div class="vote">
            <a href="{{ url_for('upvote', username=item.user_username, pid=item.pid, cid=item.cid) }}">Up</a> /
            <a href="{{ url_for('downvote', username=item.user_username, pid=item.pid, cid=item.cid) }}">Down</a>
        </div>
    </div>
    <div class="details clearfix">
        <div class="username">
            <span class="user-score">{{ item.user_score }}</span>
            <a href="{{url_for('profile', username=item.user_username)}}">{{ item.user_username }}</a>
        </div>
        <div class="body">{{ item.body }}</div>
        <div class="created">{{ item.created|timeify }}</a></div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}