{% extends 'users/list.html' %}

{% block list %}
{% if pagination.items %}
{% for item in pagination.items %}
<li class="item{% if loop.last %} last{% elif loop.first %} first{% endif %} clearfix">
    <img class="avatar" src="{{ item.email|gravatar(24) }}"/>
    <div class="actions">
        Follow
    </div>
    <div class="details clearfix">
        <div class="username">
            <span class="user-score">{{ item.score }}</span>
            <a href="{{url_for('profile', username=item.username)}}">{{ item.username }}</a>
        </div>
        <div class="body">{{ item.about }}</div>
    </div>
</li>
{% endfor %}
{% else %}
<div class="empty">Empty</div>
{% endif %}
{% endblock %}