<ul class="list">
    {% for post in posts_list.items %}
    <li class="{% if loop.last %}last{% else %}item{% endif %} post clearfix">
        <a href="{{ url_for('view_post', username=post.user.username, post_id=post.id) }}">
            <img class="avatar" src="{{post.user.email|gravatar(48)}}" style="float: left">
            <div class="contents">
                <div class="username"><a href="{{url_for('profile', username=post.user.username)}}">{{post.user.username}}</a><span class="created"> @ {{ post.created }}</span></div>
                <div class="body">{{post.body}}</div>
                <div class="comment-count">{{post.comments.count()}} comments</div>
            </div>
        </a>
    </li>
    {% else %}
    <div class="empty">No posts</div>
    {% endfor %}
</ul>
{% if posts_list.has_prev or posts_list.has_next %}
    <div id="pagination" class="clearfix">
    {% if posts_list.has_prev %}
        <a href="{{ request.path + "?page=%s" % posts_list.prev_num }}">
            <div class="prev">
                << Newer
            </div>
        </a>
    {% else %}
        <div class="prev">
            << Newer
        </div>
    {% endif %}
    {% if posts_list.has_next %}
        <a href="{{ request.path + "?page=%s" % posts_list.next_num }}">
            <div class="next">
                Older >>
            </div>
        </a>
    {% else %}
        <div class="next">
            Older >>
        </div>
    {% endif %}
    </div>
{% endif %}
