{% extends 'users/base.html' %}
{% block main %}
<div id="profile" class="clearfix">
    <img class="avatar" src="{{user.email|gravatar(96)}}" />
    <ul class="stats">
    {% if user != current_user %}
        {% if user|following %}
        <a href="{{url_for('unfollow', username=user.username)}}">
            <div onmouseover="this.innerHTML = 'Unfollow'" onmouseout="this.innerHTML = 'Following'" class="action-button unfollow">Following</div>
        </a>
        {% else %}
        <a href="{{url_for('follow', username=user.username)}}">
            <div class="action-button follow">Follow</div>
        </a>
        {% endif %}
    {% else %}
        <a href="{{url_for('settings_profile')}}">
            <div onmouseover="this.innerHTML = 'Edit'" onmouseout="this.innerHTML = 'You'" class="action-button you">You</div>
        </a>
    {% endif %}
        <a href="{{url_for('profile', username=user.username)}}"><li>{{user.posts.count()}} posts</li></a>
        <a href="{{url_for('followers', username=user.username)}}"><li>{{user.followers.count()}} followers</li></a>
        <a href="{{url_for('following', username=user.username)}}"><li>{{user.following.count()}} following</li></a>
    </ul>
    <div class="details">
        <div class="username">{{user.username}}</div>
        <div class="body">{{user.about}}</div>
    </div>
</div>
{% if user == current_user %}
    {% include 'users/author_post.html' %}
{% endif %}
<div id="content" class="clearfix">
	{% block content %}{% endblock %}
</div>
{% endblock %}
