{% extends 'users/base.html' %}

{% block main %}
<div id="content" class="clearfix">
    <h1>Account Settings</h1>
    <h2>Change Password</h2>
    <form action="" id="setting" method="post">
        {{ password_change_form.password.label }}
        {{ password_change_form.password }}
        {{ password_change_form.new_password.label }}
        {{ password_change_form.new_password }}
        {{ password_change_form.new_password2.label }}
        {{ password_change_form.new_password2 }}
        <input type="submit" value="Change password" tabindex="4"/>
    </form>
    <h2>Change E-mail</h2>
    <form action="" id="setting" method="post">
        {{ change_email_form.password.label }}
        {{ change_email_form.password }}
        {{ change_email_form.new_email.label }}
        {{ change_email_form.new_email }}
        <input type="submit" value="Change e-mail" tabindex="3"/>
    </form>
    <h2 class="danger">Delete Account</h2>
    <form action="" id="setting" method="post">
        {{ delete_account_form.password.label }}
        {{ delete_account_form.password }}
        <input class="danger" type="submit" value="Delete account" tabindex="2"/>
    </form>
</div>
{% endblock %}