{% extends 'users/base.html' %}

{% block main %}
<div id="post-main" class="clearfix">
    <img class="avatar" src="{{post.user_email|gravatar(96)}}"/>

    <div class="action">
        {% if post[uid] == current_user[uid] %}
        <a href="{{ url_for('delete_post', username=post.user_username, pid=post.pid) }}">
            <div class="delete">X</div>
        </a>
        {% endif %}
    </div>
    <div class="contents">
        <div class="username"><a
                href="{{url_for('profile', username=post.user_username)}}">{{post.user_username}}</a><span
                class="created"> @ {{ post.created|timeify }}</span></div>
        <div class="body">{{post.body}}</div>
    </div>
</div>
{% include 'posts/author_comment.html' %}
<div id="content" class="clearfix">
    <h1>Comments</h1>
    {% include 'users/list_comments.html' %}
</div>
{% endblock %}
