/*
** GLOBAL
*/

html, body {
    background-color: #9C0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 1em;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a {
    color: #39F;
    text-decoration: None;
}

a:hover {
    color: #06F;
}

input[type=text],
input[type=password],
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    border-radius: 3px 3px 3px 3px;
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari, Chrome et al  */
	-moz-box-sizing: border-box; /* Firefox */
}

#wrapper {
    min-height: 100%;
}

/*
** LOGO
*/

#logo {
    margin: 2em auto;
    width: 210px;
    height: 105px;
}

/*
** AUTH
*/

#auth #messages .message {
    border: 1px solid #CCC;
    border-radius: 3px 3px 3px 3px;
    font-weight: 700;
    margin: 0 auto 1em;
    padding: 1em;
    text-align: center;
    width: 25em;
}

#auth #messages .error {
    background-color: #FCC;
    border-color: #F55;
    color: #F55;
}

#auth #messages .info {
    background-color: #BEF;
    border-color: #09F;
    color: #09F;
}

#auth #messages .success {
    background-color: #CFB;
    border-color: #0B0;
    color: #0B0;
}

#auth #messages .warning {
    background-color: #FFC;
    border-color: #AA3;
    color: #AA3;
}

#auth .form {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px 3px 3px 3px;
    margin: 0 auto;
    padding: 1em;
    width: 25em;
}

#auth .form .header {
    border-bottom: 1px solid #680;
    color: #680;
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    margin: 0 0 0.75em;
    padding: 0 0 0.25em;
}

#auth .form .container {
    margin-top: 0.5em;
}

#auth .form label {
    font-weight: 700;
}

#auth input[type=text],
#auth input[type=password] {
    border: 1px solid #BBB;
    display: block;
    margin: 0.5em 0 1em;
    padding: 0.5em;
    width: 100%;
}

#auth input[type=text]:focus,
#auth input[type=password]:focus {
    border: 1px solid #680;
}

#auth input[type=text].error,
#auth input[type=password].error {
    border: 1px solid #F50;
}

#auth input[type=submit] {
    float: right;
    font-weight: 700;
    padding: 0.25em 0.5em;
}

#auth .form .forgot {
    font-size: 0.8em;
    font-weight: 400;
}

#auth .form .terms {
    margin: 1.5em 0 1.5em;
    text-align: center;
}

#auth ul.errorlist {
    color: #F55;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.5em;
}

#auth .link {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px 3px 3px 3px;
    font-weight: 700;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    width: 25em;
}
