/* GLOBAL ================================================================= */

html, body {
    background-color: #F5FAE6;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

a {
    color: #36F;
    text-decoration: None;
}

a:hover {
    color: #33F;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
}

#wrapper {
    width: 100%;
}

.external-link {
    font-size: 1.25em;
    font-weight: 700;
    padding: 0 0 0.5em;
    text-align: center;
}

.no-mobile {
}

/* forms */
input[type=text],
input[type=password],
textarea {
    border: 1px solid #BBB;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    margin: 0.5em 0 1em;
    padding: 0.5em;
    resize: none;
    width: 100%;
}

textarea {
    border-color: #666;
    margin: 0.5em 0;
}

input[type=text],
input[type=password] {
    display: block;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #666;
}

input[type=text].error,
input[type=password].error {
    border: 1px solid #F50;
}

input[type=submit] {
    border: 1px solid #666;
    border-radius: 3px;
    float: right;
    font-weight: 700;
    padding: 0.5em 1em;
}

/* FLASH MESSAGES ========================================================= */
.message {
    border-radius: 6px;
    font-weight: 700;
    margin: 0 0 1em;
    padding: 0.5em;
    text-align: center;
}

.messages .error {
    background-color: #C00;
    color: #600;
}

.messages .information {
    background-color: #39F;
    color: #1A4C80;
}

.messages .success {
    background-color: #0F0;
    color: #080;
}

.messages .warning {
    background-color: #FFC;
    color: #880;
}

/* AUTHENTICATION ========================================================= */
#auth {
    width: 100%;
}

#auth a {
    font-weight: 700;
}

#auth h1 {
    color: #666;
    font-size: 1.25em;
    margin: 0 0 1em 0;
    padding: 0;
}

#auth .container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 380px;
}

#auth .logo {
    display: block;
    margin: 1em auto 0;
    padding: 0;
}

#auth .motto {
    color: #000;
    font-family: Georgia, Garamond, serif;
    font-size: 1.25em;
    margin: 0 auto 1em;
    text-align: center;
}

#auth .form {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 3px;
    margin: 0 auto;
    padding: 1em;
}

#auth .link {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 3px;
    margin: 1em auto;
    padding: 0.75em;
    text-align: center;
}

/* error list can be used anywhere */
.errorlist {
    color: #C00;
    list-style: none;
    margin: 1em 0.5em;
    padding: 0;
}

/* HEADER ================================================================= */
#header {
    background-color: #9C0;
    border-bottom: 1px solid #680;
    height: 3em;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
}

#header .container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
}

#header .logo {
    float: left;
    max-height: 2.5em;
    margin: 0.25em 0;
    padding: 0 0.5em;
}

#header .menu {
    float: right;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0 0.5em;
}

#header .menu a {
    color: #340;
    text-decoration: none;
}

#header .menu a:hover {
    color: #FFF;
}

#header .menu li {
    float: left;
    list-style: none;
    padding: 0 1em;
}

#header .menu .alert {
    color: #F00;
}

/* MAIN =================================================================== */
#main {
    margin: 4em 0 0 0;
    width: 100%;
}

#main .container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 700px;
}

#main .block {
    margin: 0 0 1em;
}

/* ACTION BUTTON ========================================================== */
.action-button {
    color: #680;
    background-color: #EEE;
    border-radius: 3px;
    font-weight: 700;
    float: right;
    margin: 0.25em;
    padding: 0.25em 0;
    text-align: center;
    width: 100px;
}

.you {
    background-color: #39F;
    color: #1A4C80;
    content: "You";
}

.you:hover {
    content: "Edit";
}

.follow {
    background-color: #FFF;
    border: 1px solid #3C3;
    color: #3C3;
}

.follow:hover {
    background-color: #3C3;
    color: #FFF;
}

.unfollow {
    background-color: #3C3;
    border: 1px solid #3C3;
    color: #FFF;
    content: "Following";
}

.unfollow:hover {
    background-color: #C00;
    border: 1px solid #C00;
    content: "Unfollow";
}

.username a {
    color: #333;
}

.username a:hover {
    text-decoration: underline;
}

/* ICONS =================================================================== */
.inactive {
    color: #DDD;
}

.left {
    float: left;
}

.right {
    float: right;
}

.link {
    color: #999;
}

.upvote:hover {
    color: #0C0;
}

.upvoted {
    color: #0C0;
}

.downvote:hover {
    color: #C00;
}

.downvoted {
    color: #C00;
}

.delete {
    color: #999;
}

.delete:hover {
    color: #C00;
}

.comments:hover {
    color: #33C;
}

.unsubscribe:hover {
    color: #333;
}

/* PROFILE =============================================================== */
#profile {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0;
}

#profile .top {
    padding: 0.5em;
}

#profile .avatar {
    display: block;
    float: left;
    margin: 0;
}

#profile .content {
    margin: 0 0 0 60px;
    padding: 0;
}

#profile .username {
    font-size: 1.5em;
    line-height: 1em;
}

#profile .user-score {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 0.1em 0.25em 0;
    margin: 0 0 0 0.25em;
}

#profile .body {
    margin: 1em 0 0;
    word-wrap: break-word;
}

#profile .panel {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    border-radius: 0 0 6px 6px;
    color: #999;
    margin: 1em 0 0;
}

#profile .panel a {
    color: #999;
}

#profile .panel a:hover {
    color: #333;
}

#profile ul {
    float: left;
    margin: 0;
    padding: 0;
}

#profile li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

/* POST =================================================================== */
#post {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0.5em;
}

#post .avatar {
    display: block;
    float: left;
    margin: 0;
}

#post .content {
    margin: 0 3em 0 5em;
    padding: 0;
}

#post .username {
    font-size: 1.5em;
    line-height: 1em;
}

#post .body {
    margin: 1em 0 1em;
    word-wrap: break-word;
}

#post .created {
    color: #BBB;
    font-size: 11px;
    font-weight: 400;
    margin: 1em 0 0;
}

#post .control {
    float: right;
}

#post .control .delete {
    color: #CCC;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    padding: 0.25em 0.5em;
}

#post .control .delete:hover {
    color: #F00;
}

#post .panel {
    color: #999;
    border-radius: 0 0 6px 6px;
    margin: 0.5em 0 0;
    padding: 0.5em 0;
}

#post .panel ul {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

#post .panel li {
    float: left;
    font-weight: 700;
    list-style: none;
    margin: 0 1em 0 0;
    padding: 0;
}

/* AUTHOR ================================================================= */
#author {
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0.5em;
}

#author.comment {
    background-color: #9CF;
}

#author.post {
    background-color: #FE6;
}

#author textarea {
    border: 1px solid #666;
    border-radius: 3px;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    resize: vertical;
}

#author button {
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 3px;
    color: #333;
    font-weight: 700;
    float: right;
    padding: 0.25em;
    text-align: center;
    width: 100px;
}

#author button:hover {
    color: #C00;
}

#author #count {
    float: left;
    padding: 0.25em;
}

/* SEARCH ================================================================= */
.search {
    background-color: #EEE;
}

/* CONTENT ================================================================ */
#content {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 0;
}

#content h1 {
    background-color: #EEE;
    border-bottom: 1px solid #666;
    border-radius: 6px 6px 0 0;
    color: #666;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    vertical-align: middle;
}

#content h2 {
    color: #999;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 0;
}

/* LISTS ================================================================== */
#list {
    margin: 0;
    padding: 0;
}

#list .empty {
    color: #BBB;
    margin: 1em 0;
    text-align: center;
}

#list .item {
    border-bottom: 1px solid #DDD;
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}

#list .last {
    border-bottom: 0;
    margin: 0 0 0.5em;
}

#list .avatar {
    float: left;
}

#list .content.post {
    margin: 0 2em 0 4em;
}

#list .content.user {
    margin: 0 9em 0 4em;
}

#list .content.alert {
    margin: -1em 2em 0 4em;
}

#list .username {
    font-size: 1.25em;
}

.body {
    margin: 0.75em 0 1em;
    word-wrap: break-word;
}

#list .created {
    color: #BBB;
    font-size: 11px;
    font-weight: 400;
    margin: 1em 0 0;
}

#list .control {
    float: right;
    margin: 0;
}

#list .button {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

#list .post .action {
    float: right;
    height: 24px;
    width: 24px;
}

#list .user .action {
    float: right;
}

#list .panel {
    color: #999;
    font-weight: 700;
}

#list .panel ul {
    list-style: none;
    padding: 0;
}

#list .panel li {
    float: left;
    margin: 0 1em 0 0;
}

/* PAGINATION ============================================================= */
#pagination {
    background-color: #EEE;
    border-top: 1px solid #666;
    border-radius: 0 0 6px 6px;
    color: #666;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0.5em;
    vertical-align: middle;
}

#pagination a {
    color: #666;
}

#pagination .newer {
    border-radius: 0 0 0 3px;
    float: left;
    text-align: left;
}

#pagination .older {
    border-radius: 0 0 3px 0;
    float: right;
    text-align: right;
}

#pagination *:hover {
    color: #333;
}

/* SETTINGS ================================================================ */

#settings-menu {
    background-color: #EEE;
    border: 1px solid #666;
    border-radius: 3px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#settings-menu .last {
    border: 0;
}

#settings-menu li {
    border-right: 1px solid #BBB;
    color: #666;
    float: left;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

#settings-menu li:hover {
    color: #333;
}

#setting {
    margin: 1em auto;
    padding: 0;
    min-width: 300px;
    max-width: 380px;
}

#setting .details {
    padding: 0;
}

#setting .detail {
    margin: 0 0 0.5em;
    padding: 0 0 0.5em;
}

#setting .warning {
    color: #F00;
}

#setting img {
    margin: 0.5em 1em;
}

/* FOOTER ================================================================= */
#footer {
    color: #680;
    font-size: 0.75em;
    margin: 2em 0 0.5em 0;
    text-align: center;
    bottom: 0;
}

#footer a {
    color: #000;
    text-decoration: underline;
}

#footer a:hover {
    color: #36F;
}

/* ERRORS ================================================================= */
#error {
    text-align: center;
}

#error .code {
    color: #680;
    font-size: 10em;
    font-weight: 700;
    line-height: 1em;
    margin: 0.5em 0 0;
    text-shadow: 1px 1px #000;
}

#error .message {
    margin: 2em 0 0;
}

#error a {
    color: #000;
    text-decoration: underline;
}

#error a:hover {
    color: #36F;
}

/* MEDIA QUERIES ========================================================== */
@media only screen and (max-width: 650px) {
    .no-mobile {
        display: none;
    }

    /* AUTH ================================================================ */
    #auth .container {
        width: 98%;
    }

    #auth .logo {
        display: block;
        margin: 1em auto 0;
        padding: 0;
        width: 40%;
    }

    /* HEADER ============================================================== */
    #header .container {
        margin: 0;
        width: 100%;
    }

    #header .menu li {
        padding: 0 0.5em;
    }

    /* MAIN ================================================================ */
    #main .container {
        padding: 0;
        width: 98%;
    }

    /* ACTION BUTTON ======================================================= */
    .action-button {
        width: auto;
        float: none;
        padding: 0.5em 0;
    }

    /* PROFILE ============================================================= */
    #profile .avatar {
        height: 24px;
        width: 24px;
    }

    #profile .content {
        margin: 0 0 0 44px;
    }

    #profile .username {
        line-height: 1em;
        margin-top: 3px;
        vertical-align: middle;
    }

    #profile .body {
        display: none;
    }

    #profile .panel {
        margin: 0;
    }

    #profile .panel ul {
        float: none;
    }

    #profile .panel li {
        float: none;
        padding: 0.5em 1em;
    }

    /* SETTINGS ============================================================ */
    #settings-menu li {
        border: 0;
        border-bottom: 1px solid #BBB;
        float: none;
        padding: 0.5em 1em;
    }
}
