/* GLOBAL ================================================================= */

html, body {
	background-color: #EFB;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

a {
    color: #36F;
    text-decoration: None;
}

a:hover {
    color: #33F;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
}

#wrapper {
	width: 100%;
}

.external-link {
    font-size: 1.25em;
    font-weight: 700;
    padding: 0 0 0.5em;
    text-align: center;
}

.no-mobile {
}

/* forms */
input[type=text],
input[type=password],
textarea {
    border: 1px solid #BBB;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    margin: 0.5em 0 1em;
    padding: 0.5em;
    resize: none;
    width: 100%;
}

textarea {
    border-color: #666;
    margin: 0.5em 0;
}

input[type=text],
input[type=password] {
    display: block;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #666;
}

input[type=text].error,
input[type=password].error {
    border: 1px solid #F50;
}

input[type=submit] {
    border: 1px solid #666;
    border-radius: 3px;
    float: right;
    font-weight: 700;
    padding: 0.5em 1em;
}

/* recaptcha */
#recaptcha_widget_div {
    margin: 0.5em auto 1em;
}

#recaptcha_area {
    margin: 0 auto;
}

/* FLASH MESSAGES ========================================================= */
.message {
    border-radius: 3px;
    font-weight: 700;
    margin: 0 0 1em;
    padding: 0.5em;
    text-align: center;
}

.messages .error {
    background-color: #C00;
    color: #600;
}

.messages .information {
    background-color: #39F;
    color: #1A4C80;
}

.messages .success {
    background-color: #0F0;
    color: #080;
}

.messages .warning {
    background-color: #FFC;
    color: #880;
}

/* AUTHENTICATION ========================================================= */
#auth {
	width: 100%;
}

#auth a {
	font-weight: 700;
}

#auth h1 {
    color: #666;
    font-size: 1.25em;
    margin: 0 0 1em 0;
    padding: 0;
}

#auth .container {
	margin: 0 auto;
	min-width: 320px;
	max-width: 380px;
}

#auth .logo {
    display: block;
    margin: 1em auto 0;
    padding: 0;
}

#auth .motto {
    color: #000;
    font-family: Georgia, Garamond, serif;
    font-size: 1.25em;
    margin: 0 auto 1em;
    text-align: center;
}

#auth .form {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px;
    margin: 0 auto;
    padding: 1em;
}

#auth .errorlist {
    color: #C00;
    list-style: none;
    margin: 1em 0.5em;
    padding: 0;
}

#auth .link {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px;
    margin: 1em auto;
    padding: 0.75em;
    text-align: center;
}

/* HEADER ================================================================= */
#header {
	background-color: #9C0;
	border-bottom: 1px solid #680;
	height: 3em;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
}

#header .container {
	margin: 0 auto;
	max-width: 800px;
}

#header .logo {
	float: left;
	max-height: 2.5em;
	margin: 0.25em 0;
	padding: 0 0.5em;
}

#header .menu {
	color: #FFF;
	float: right;
    font-size: 1em;
	font-weight: 700;
	margin: 0;
	padding: 0 0.5em;
}

#header .menu img {
    height: 16px;
    margin: 0 0.5em 0 0;
    width: 16px;
    vertical-align: middle;
}

#header .menu a {
	color: #000;
	text-decoration: none;
}

#header .menu a:hover {
	color: #FFF;
}

#header .menu li {
	float: left;
	list-style: none;
	padding: 0 1em;
}

#header .menu li:hover {
	background-color: #680;
}

/* MAIN =================================================================== */
#main {
	margin: 4em 0 0 0;
	width: 100%;
}

#main .container {
	margin: 0 auto;
	max-width: 700px;
}

#main .block {
    margin: 0 0 1em;
    border: 1px solid #666;
    border-radius: 3px;
}

/* ACTION BUTTON ========================================================== */
.action-button {
    color: #680;
    background-color: #EEE;
    border-radius: 3px;
    font-weight: 700;
    float: right;
    margin: 0.25em;
    padding: 0.25em 0;
    text-align: center;
    width: 100px
}

.you {
    color: #69F;
    background-color: #9CF;
}

.follow:hover {
    color: #FFF;
    background-color: #3C3;
}

.unfollow {
    color: #FFF;
    background-color: #3C3;
}

.unfollow:hover {
    background-color: #C00;
}

/* PROFILE =============================================================== */
#profile {
    background-color: #FFF;
    color: #333;
    padding: 0;
}

#profile .top-section {
    padding: 0.5em;
}

#profile .avatar {
    display: block;
    float: left;
    margin: 0;
}

#profile .details {
    margin: 0 0 0 60px;
    padding: 0;
}

#profile .username {
    font-size: 1.5em;
    line-height: 1em;
}

#profile .user-score {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 0.1em 0.25em 0;
    margin: 0 0 0 0.25em;
}

#profile .body {
    margin: 1em 0 0;
    word-wrap: break-word;
}

#profile .panel {
    color: #666;
    background-color: #EEE;
    border-top: 1px solid #BBB;
    border-radius: 0 0 3px 3px;
    margin: 1em 0 0;
}

#profile .panel img {
    vertical-align: middle;
}

#profile ul {
    float: left;
    margin: 0;
    padding: 0;
}

#profile ul .link {
    color: #666;
}

#profile ul .link:hover {
    color: #333;
}

#profile li {
    border-right: 1px solid #BBB;
    color: #333;
    float: left;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

/* POST =================================================================== */
#post {
    background-color: #FFF;
    color: #333;
    padding: 0;
}

#post .top-section {
    padding: 0.5em;
}

#post .avatar {
    display: block;
    float: left;
    margin: 0;
}

#post .details {
    margin: 0 0 0 60px;
    padding: 0;
}

#post .username {
    font-size: 1.5em;
    line-height: 1em;
}

#post .user-score {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 0 0.25em;
    margin: 0 0 0 0.25em;
}

#post .body {
    margin: 1em 2em 0 0;
    word-wrap: break-word;
}

#post .created {
    color: #BBB;
    font-size: 11px;
    font-weight: 400;
    margin: 1em 0 0;
}

#post .control {
    float: right;
}

#post .control .delete {
    color: #CCC;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    padding: 0.25em 0.5em;
}

#post .control .delete:hover {
    color: #F00;
}

#post .panel {
    background-color: #EEE;
    border-top: 1px solid #BBB;
    border-radius: 0 0 3px 3px;
}

#post .panel img {
    vertical-align: middle;
}

#post ul {
    color: #000;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

#post li {
    border-right: 1px solid #BBB;
    color: #333;
    float: left;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

#post .link:hover {
    color: #FFF;
}

#post .last {
    border: 0;
}

/* AUTHOR ================================================================= */
#author {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.5em;
}

.author-comment {
    background-color: #0DF;
}

.author-post {
    background-color: #FD0;
}

#author h1 {
    color: #000;
    font-size: 1em;
    margin: 0;
    padding: 0 0.25em 0.25em 0.25em;    
    text-align: center;
}

#author .character-count {
    float: left;
}

#character-count {
    float: left;
}

/* SEARCH ================================================================= */
.search {
    background-color: #EEE;
}

/* CONTENT ================================================================ */
#content {
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.5em;
}

#content h1 {
    color: #666;
    font-size: 1.25em;
    margin: 0 0 1em 0;
    padding: 0;
}

#content h2 {
    color: #999;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 0;
}

/* LISTS ================================================================== */
#list {
    margin: 0;
    padding: 0;
}

#list .empty {
    color: #BBB;
    margin: 1em 0;
    text-align: center;
}

#list .item {
    background-color: #FFF;
    border-bottom: 1px solid #999;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0.5em;
}

#list .post {
    border: 0;
}

#list .last {
    border: 0;
}

/* stub, used in profile, not formatting
#list .top-section {
}
*/

#list .avatar {
    float: left;
    height: 3em;
    margin: 0 1em 0 0;
    width: 3em;
}

#list .details-post {
    margin: 0 2em 0 4em;
}

#list .details-user {
    margin: 0 9em 0 4em;
}

#list .username {
    font-size: 1em;
}

#list .user-score {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 0.1em 0.25em;
    margin: 0 0 0 0.5em;
}

#list .body {
    margin: 1em 0 0;
    word-wrap: break-word;
}

#list .created {
    color: #BBB;
    font-size: 11px;
    font-weight: 400;
    margin: 1em 0 0;
}

#list .control {
    float: right;
}

#list .button {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

#list .comment-count {
    border-left: 1px solid #BBB;
    color: #333;
    float: right;
    margin: 0;
    padding: 0.25em 1em;
}

#list .post .action {
    float: right;
    height: 24px;
    width: 24px;
}

#list .control .delete {
    color: #CCC;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    padding: 0.25em 0.5em;
}

#list .control .delete:hover {
    color: #F00;
}

#list .user .action {
    float: right;
}

#list .panel {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    color: #333;
    font-weight: 700;
}

#list .panel img {
    vertical-align: middle;
}

#list .voting {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

#list .voting-item {
    border-right: 1px solid #BBB;
    color: #333;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0.25em 1em;
}

#list .link:hover {
    background-color: #BBB;
}

/* PAGINATION ============================================================= */
#pagination {
    font-size: 13px;
    padding: 0 0.5em 0.5em;
}

#pagination a {
    color: #333;
}

#pagination .button {
    background-color: #EEE;
    border: 1px solid #BBB;
    border-radius: 3px;
    color: #BBB;
    padding: 0.25em 0;
    text-align: center;
    width: 6em;
}

#pagination .prev {
    float: left;
}

#pagination .next {
    float: right;
}

/* SETTINGS ================================================================ */

#settings-menu {
    background-color: #EEE;
    border: 1px solid #666;
    border-radius: 3px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#settings-menu .last {
    border: 0;
}

#settings-menu li {
    border-right: 1px solid #BBB;
    color: #666;
    float: left;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
}

#settings-menu li:hover {
    color: #333;
}

#setting {
    margin: 1em auto;
    padding: 0;
    min-width: 300px;
    max-width: 380px;
}

#setting .details {
    padding: 0;
}

#setting .detail {
    margin: 0 0 0.5em;
    padding: 0 0 0.5em;
}

#setting .warning {
    color: #F00;
}

/* FOOTER ================================================================= */
#footer {
    color: #680;
    font-size: 0.75em;
    margin: 2em 0 0.5em 0;
    text-align: center;
    bottom: 0;
}

#footer a {
    color: #000;
    text-decoration: underline;
}

#footer a:hover {
    color: #36F;
}

/* ERRORS ================================================================= */
#error {
    text-align: center;
}

#error .code {
    color: #680;
    font-size: 10em;
    font-weight: 700;
    line-height: 1em;
    margin: 0.5em 0 0;
    text-shadow: 1px 1px #000;
}

#error .message {
    margin: 2em 0 0;
}

#error a {
    color: #000;
    text-decoration: underline;
}

#error a:hover {
    color: #36F;
}

/* MEDIA QUERIES ========================================================== */
@media only screen and (max-width: 600px) {
    .no-mobile {
        display: none;
    }

    #auth .container {
        width: 98%;
    }

	#header .container {
		margin: 0;
		width: 100%;
	}

    #header .menu {
        font-size: 0.75em;
    }

	#header .menu li {
		padding: 0 0.5em;
	}

	#main .container {
		padding: 0;
		width: 98%;
	}

    #profile .body {
        display: none;
    }

    #profile ul {
        float: none;
    }

    #profile li {
        border: 0;
        border-bottom: 1px solid #BBB;
        float: none;
        padding: 0.5em 1em;
    }

    #settings-menu li {
        border: 0;
        border-bottom: 1px solid #BBB;
        float: none;
        padding: 0.5em 1em;
    }
}
