/*
** GLOBAL
*/

html, body {
    background-color: #9C0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a {
    color: #36F;
    text-decoration: None;
}

a:hover {
    color: #33F;
}

input[type=text],
input[type=password],
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    /* Support 100% width */
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari, Chrome et al  */
	-moz-box-sizing: border-box; /* Firefox */
}

#wrapper {
    margin: 14px auto;
    min-height: 100%;
    width: 960px;
}

/*
** LOGO
*/

#logo {
    margin: 2em auto;
    width: 210px;
    height: 105px;
}

/*
** AUTH
*/

#auth #messages .message {
    border: 1px solid #CCC;
    border-radius: 3px 3px 3px 3px;
    font-weight: 700;
    margin: 0 auto 1em;
    padding: 1em;
    text-align: center;
    width: 25em;
}

#auth #messages .error {
    background-color: #FCC;
    border-color: #F55;
    color: #F55;
}

#auth #messages .info {
    background-color: #BEF;
    border-color: #09F;
    color: #09F;
}

#auth #messages .success {
    background-color: #CFB;
    border-color: #0B0;
    color: #0B0;
}

#auth #messages .warning {
    background-color: #FFC;
    border-color: #AA3;
    color: #AA3;
}

#auth .form {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px 3px 3px 3px;
    margin: 0 auto;
    padding: 1em;
    width: 25em;
}

#auth .form .header {
    border-bottom: 1px solid #680;
    color: #680;
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    margin: 0 0 0.75em;
    padding: 0 0 0.25em;
}

#auth .form .container {
    margin-top: 0.5em;
}

#auth .form label {
    font-weight: 700;
}

#auth input[type=text],
#auth input[type=password] {
    border: 1px solid #BBB;
    display: block;
    margin: 0.5em 0 1em;
    padding: 0.5em;
    width: 100%;
}

#auth input[type=text]:focus,
#auth input[type=password]:focus {
    border: 1px solid #680;
}

#auth input[type=text].error,
#auth input[type=password].error {
    border: 1px solid #F50;
}

#auth input[type=submit] {
    float: right;
    font-weight: 700;
    padding: 0.25em 0.5em;
}

#auth .form .forgot {
    font-size: 0.8em;
    font-weight: 400;
}

#auth .form .terms {
    margin: 1.5em 0 1.5em;
    text-align: center;
}

#auth ul.errorlist {
    color: #F55;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.5em;
}

#auth .link {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px 3px 3px 3px;
    font-weight: 700;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    width: 25em;
}

/*
** Recaptcha
*/

#recaptcha_image {
    margin: 0.5em auto 1em;
}

/*
** Menu
*/

.menu {
    float: left;
    position: fixed;
	width: 200px;
}

.menu img {
	margin: 0 auto;
}

.menu ul {
	color: #000;
	font-weight: 700;
    margin: 1em 0 0;
}

.menu li {
    color: #3D4526;
    border-radius: 3px 3px 3px 3px;
	padding: 0.5em 0.5em;
}

.menu li:hover {
    color: #FFF;
	background-color: #680;
}

#search {
    background-color: #680;
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    margin: 1em 0 0;
    padding: 0.5em;
}

#search input[type=text] {
    border: 1px solid #BBB;
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
}

#search input[type=submit] {
    font-weight: 700;
    padding: 0.25em 0.5em;
}

/*
** Content
*/

.content {
    background-color: #FFF;
    border: 1px solid #680;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 0 214px;
    width: 746;
}

h1 {
    color: #680;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em;
}

/*
** Profile
*/

#profile {
    color: #FFF;
    background-color: #680;
    margin: 0;
    padding: 1em;
}

#profile .avatar {
    float: left;
    margin: 0;
    border: 1px solid #444;
}

#profile .actions {
    width: 100px;
    float: right;
    text-align: center;
}

#profile .details {
    margin: 0 110px 0 110px;
}

#profile .username {
    font-size: 2em;
}

#profile .body {
    margin: 1em 0 0;
}

#profile .stats {
    float: right;
    text-align: right;
    width: 100px;
}

#profile .stats li {
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    font-weight: 700;
    padding: 0.5em 0.5em;
}

#profile .stats li:hover {
    color: #000;
    background-color: #9C0;
}

.action-button {
    color: #680;
    background-color: #EEE;
    border: 1px solid #FFF;
    border-radius: 3px 3px 3px 3px;
    font-weight: 700;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0;
    text-align: center;
    width: 100px
}

.you {
    color: #69F;
    background-color: #9CF;
}

.follow:hover {
    color: #FFF;
    background-color: #3C3;
}

.unfollow {
    color: #FFF;
    background-color: #3C3;
}

.unfollow:hover {
    background-color: #C00;
}

/*
** Author
*/

#author {
    background-color: #FFC;
    border-color: #666;
    border-style: solid;
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px;
    display: none;
    margin: 0 0.5em;
    padding: 0.5em;
}

#author textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 3px;
    /* Support 100% width */
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari, Chrome et al  */
    -moz-box-sizing: border-box; /* Firefox */
    width: 100%;
    resize: none;
    padding: 0.5em;
}

#author input[type=submit] {
    float: right;
    font-weight: 700;
    padding: 0.25em 0.5em
}

#author-hider {
    background-color: #FC0;
    border: 1px solid #666;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    font-weight: 700;
    margin: 0.5em 0.5em 0;
    padding: 0.5em 0;
    text-align: center;
}

/*
** Lists
*/

.list {
    padding: 1em;
}

.list .last {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.list .empty {
    color: #777;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1em;
}

.list .item {
    margin: 0 0 1em;
    padding: 0 0 1em;
    border-bottom: 1px solid #BBB;
}

/*
** Post
*/

.post {
    /* Nout ATM */
}

.post .contents {
    margin: 0 0 0 64px;
}

.list .username {
    font-size: 15px;
    font-weight: 700;
}

.list .created {
    font-size: 11px;
    font-weight: 400;
}

.list .body {
    padding: 7px 0;
    word-wrap: break-word;
}

.user {
    /* Nout ATM */
}

.user .contents {
    margin: 0 128px 0 64px;
}

.user .action {
    float: right;
}

/*
** Pagination
*/

#pagination {
    padding: 0 0.5em 0.5em;
    margin: 2em 0 0;
}

#pagination .prev {
    float: left;
    padding: 0.5em 1em;
    border: 1px solid #999;
    background-color: #CCC;
}

#pagination .next {
    float: right;
    padding: 0.5em 1em;
    border: 1px solid #999;
    background-color: #CCC;
}
